﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.HaisouIchiranModel

@{
    ViewData["Title"] = "配送計画一覧画面";
    Layout = "_Layout";
}

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>

<div class="row">
    <div class="card shadow mb-4">
        <div class="card-header text-gray-800">
            配送計画一覧画面
        </div>
        <form class="col-md-12" method="post" asp-controller="HaisouIchiran">
            <div class="row control-group form-inline">
                <div class="col-md-2">
                    <label class="col-md-12">配送日付 </label>
                </div>
                <div class="col-md-3">
                    <input type="date" asp-for="txt_date" class="form-control" value="@Model.txt_date.ToString("yyyy-MM-dd")">
                    <span asp-validation-for="txt_date" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <button class="col-md-12 col-lg-12 col-xl-12 btn btn-primary btn-sm float-right" type="button" margin-right onclick="onSearch()">検索</button>
                </div>
            </div>
            <div class="row control-group form-inline" id="row3">
                <div>
                    <label class="control-label c-label-text">トラックコード </label>
                </div>
                <div class="col-md-1">
                    <div class="col-md-10 justify-content-center">
                        <select asp-for="drop_top_track_code" class="col-md-12 select-customer">
                            <option selected="selected" value="">000887</option>
                            <option value="1"> 000886</option>
                            <option value="2"> 000885</option>
                            <option value="3"> 000884</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="control-label c-label-text">運転手名</label>
                </div>
                <div class="col-md-2">
                    <input no="4" type="text" asp-for="txt_top_driver_name" class="form-control">
                    <span asp-validation-for="txt_top_driver_name" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text">車格</label>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text" id="lbl_top_car_type"></label>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text">最大積載可能質量[kg]:</label>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text" id="lbl_top_max_available_weight"></label>
                </div>
                <div class="col-md-1">
                    <button type="button" no="64" id="btn_top_all_check" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        全チェック
                    </button>
                </div>
                <div>
                    <button type="button" no="65" id="btn_top_all_release" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        全解除
                    </button>
                </div>
                <div class="col-md-1">
                    <button type="button" no="7" id="btn_top_up" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="sr-only">Toggle</span>

                    </button>
                    <button type="button" no="8" id="btn_top_down" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="sr-only">Toggle</span>

                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th no="9"></th>
                                    <th no="10"></th>
                                    <th no="11">到着順</th>
                                    <th no="12">指示No</th>
                                    <th no="13">配送区分</th>
                                    <th no="14">納入先名</th>
                                    <th no="15">住所</th>
                                    <th no="16">到着時間</th>
                                    <th no="17">出発時間</th>
                                    <th no="18">納入先作業時間[分]</th>
                                    <th no="19">出荷質量[kg]</th>
                                    <th no="20">引取質量[kg]</th>
                                    <th no="21">積載可能質量[kg]</th>
                                    <th no="68">引取予定質量[kg]</th>
                                    <th no="22">可能車両</th>
                                    <th no="23">時間指定開始</th>
                                    <th no="24">時間指定終了</th>
                                    <th no="25">エリア名</th>
                                    <th no="26">配送No</th>
                                    <th no="27">有料道路使用</th>
                                    <th no="28">備考</th>
                                </tr>
                            </thead>
                            @*<tbody>
                        @if (@Model.UserList != null)
                        {
                            @foreach (var obj in @Model.UserList)
                            {
                                <tr>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Edit", "M_User", new { wid = obj.WID, cd = obj.User_CD })'">編集</button>
                                        <button type="button" class="btn btn-light btn-square" onclick="location.href='@Url.Action("Edit", "NonyusakiIchiran", new { wid = obj.WID, cd = obj.User_CD } )'; return false;" title="修正">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-light btn-square" onclick="location.href='@Url.Action("Delete", "NonyusakiIchiran", new { wid = obj.WID, cd = obj.User_CD } )'; return false;" title="倉庫管理">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                    <td>@obj.User_name</td>
                                    <td>@obj.User_CD</td>
                                    <td>●●●●</td>
                                    <td>@obj.Mail_Address</td>
                                    <td>@obj.RoleName</td>
                                    <td>@obj.C_Date/@obj.C_User</td>
                                    <td>@obj.UDATE_Edit</td>
                                </tr>
                            }
                        }
                    </tbody>*@
                        </table>
                    </div>
                </div>
            </div>

            <div class="row control-group form-inline justify-content-center">
                <div class="col-md-1 center">
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle</span>
                    </button>
                </div>
                <div class="col-md-1 center">
                    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="sr-only">Toggle</span>
                    </button>
                </div>
            </div>

            <div class="row control-group form-inline">
                <div>
                    <label class="control-label c-label-text">トラックコード </label>
                </div>
                <div class="col-md-1">
                    <div class="col-md-10 justify-content-center">
                        <select asp-for="drop_top_track_code" class="col-md-12 select-customer">
                            <option selected="selected" value="">000887</option>
                            <option value="1"> 000886</option>
                            <option value="2"> 000885</option>
                            <option value="3"> 000884</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="control-label c-label-text">運転手名</label>
                </div>
                <div class="col-md-2">
                    <input no="4" type="text" asp-for="txt_top_driver_name" class="form-control">
                    <span asp-validation-for="txt_top_driver_name" class="text-danger"></span>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text">車格</label>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text" id="lbl_top_car_type"></label>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text">最大積載可能質量[kg]:</label>
                </div>
                <div class="col-md-1">
                    <label class="control-label c-label-text" id="lbl_top_max_available_weight"></label>
                </div>
                <div class="col-md-1">
                    <button type="button" no="64" id="btn_top_all_check" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        全チェック
                    </button>
                </div>
                <div>
                    <button type="button" no="65" id="btn_top_all_release" class="btn btn-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        全解除
                    </button>
                </div>
                <div class="col-md-1">
                    <button type="button" no="7" id="btn_top_up" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="sr-only">Toggle</span>

                    </button>
                    <button type="button" no="8" id="btn_top_down" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                        <span class="sr-only">Toggle</span>

                    </button>
                </div>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%">
                            <thead>
                                <tr>
                                    <th no="9"></th>
                                    <th no="10"></th>
                                    <th no="11">到着順</th>
                                    <th no="12">指示No</th>
                                    <th no="13">配送区分</th>
                                    <th no="14">納入先名</th>
                                    <th no="15">住所</th>
                                    <th no="16">到着時間</th>
                                    <th no="17">出発時間</th>
                                    <th no="18">納入先作業時間[分]</th>
                                    <th no="19">出荷質量[kg]</th>
                                    <th no="20">引取質量[kg]</th>
                                    <th no="21">積載可能質量[kg]</th>
                                    <th no="68">引取予定質量[kg]</th>
                                    <th no="22">可能車両</th>
                                    <th no="23">時間指定開始</th>
                                    <th no="24">時間指定終了</th>
                                    <th no="25">エリア名</th>
                                    <th no="26">配送No</th>
                                    <th no="27">有料道路使用</th>
                                    <th no="28">備考</th>
                                </tr>
                            </thead>
                            @*<tbody>
                        @if (@Model.UserList != null)
                        {
                            @foreach (var obj in @Model.UserList)
                            {
                                <tr>
                                    <td class="text-center">
                                        <button class="btn btn-secondary btn-sm" onclick="location.href='@Url.Action("Edit", "M_User", new { wid = obj.WID, cd = obj.User_CD })'">編集</button>
                                        <button type="button" class="btn btn-light btn-square" onclick="location.href='@Url.Action("Edit", "NonyusakiIchiran", new { wid = obj.WID, cd = obj.User_CD } )'; return false;" title="修正">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-light btn-square" onclick="location.href='@Url.Action("Delete", "NonyusakiIchiran", new { wid = obj.WID, cd = obj.User_CD } )'; return false;" title="倉庫管理">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                    <td>@obj.User_name</td>
                                    <td>@obj.User_CD</td>
                                    <td>●●●●</td>
                                    <td>@obj.Mail_Address</td>
                                    <td>@obj.RoleName</td>
                                    <td>@obj.C_Date/@obj.C_User</td>
                                    <td>@obj.UDATE_Edit</td>
                                </tr>
                            }
                        }
                    </tbody>*@
                        </table>
                    </div>
                </div>
            </div>

            <div class="row control-group form-inline">
                <div class="col-md-1">
                    <button class="btn btn-light">計算</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-light">保存</button>
                </div>
                <div class="col-md-1">
                    <button class="btn btn-light">データ出力</button>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-light">地図表示（保存データ）</button>
                </div>
            </div>
        </form>
    </div>
</div>

<!--親jsファイル呼び出し-->
<script type="text/javascript" src="~/js/stock.js"></script>

<script type="text/javascript">
    function onSearch() {
        getDeliPlans()
    }

    function updateControls() {
    }

    function getDeliPlans() {
        var deliDate = $("#txt_date").val();
        //console.log(deliDate)
        $.ajax({
            type: "GET",
            url: "../haisouichiran/GetDeliPlans?deliDate=" + deliDate,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (result) {
                if (result.status) {
                    //notifyOK("配送削除済みです。");
                    //console.log(result);
                    var deliPlans = result.data;
                    updateDropTopTrackCode(deliPlans);
                }
                else {
                    console.log(result.message);
                }
            },
            error: function (errormessage) {
                console.log(errormessage.responseText);
            }
        });
    }

    function updateDropTopTrackCode(deliPlans) {
        var track_cds = [];
        deliPlans.foreach(deliPlan => {
            if (!track_cds.includes(deliPlan.track_cd)) {
                track_cds.push(deliPlan.track_cd);
            }
        });

        track_cds.sort((a, b) => parseInt(a) - parseInt(b));

        var e = document.getElementById("track-cd-select")
        e.innerHTML = ""
        for (var i in track_cds) {
            var opt = e.appendChild(document.createElement("option"))
            opt.value = track_cds[i]
            opt.text = track_cds[i]
        }
    }
</script>