﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.NonyusakiTorikomiModel

@{
    ViewData["Title"] = "納入先情報取込画面";
    Layout = "_Layout";
}

<div class="row">
    <div style="width:800px">
        <div class="h4 mb-3 text-gray-800">
            @ViewData["Title"]
        </div>
        <div class="card shadow mb-4">
            <div class="card-header text-gray-800">
                納入先情報取込画面
            </div>
            <div class="card-body">
                <form asp-controller="NonyusakiTorikomi" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class=" card shadow mb-4">
                                <div class="card-header text-gray-800" style="padding-left:2rem">
                                    納入先情報　 エクスポート
                                </div>
                                <div class="card-body">
                                    <div class="form-group col-sm-12">
                                        <div class="form-inline">
                                            <button type="submit" asp-action="ExcelButton" id="file-output" class="btn btn-primary btn-icon-split" value="Excel出力">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-export"></i>
                                                </span>
                                                <span class="text">出力</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class=" card shadow mb-4">
                                <div class="card-header  text-gray-800" style="padding-left:2rem">
                                    移動時間表　 エクスポート
                                </div>
                                <div class="card-body">
                                    <div class="form-group col-sm-12">
                                        <div class="form-inline">
                                            <button type="submit" asp-action="ExportData" id="file-output" class="btn btn-primary btn-icon-split" value="ExportData">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-export"></i>
                                                </span>
                                                <span class="text">出力</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <form asp-controller="NonyusakiTorikomi" method="post" enctype="multipart/form-data" id="nonyusaki-upload-form" onsubmit="return false;">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header text-gray-800" style="padding-left:2rem">
                                    納入先情報　 インポート
                                </div>
                                <div class="card-body">
                                    <div class="form-group col-sm-12">
                                        <div class="form-inline">
                                            <div id="file-select-form" style="display:none">
                                                <input name="FileUpload" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" multiple="multiple" />
                                            </div>
                                            <button id="file-select-button" class="btn btn-light shadow mr-2">
                                                <i class="far fa-file-alt fa-fw"></i>EXCELファイル選択
                                            </button>
                                            <button type="submit" asp-action="ImportData" id="file-upload" class="btn btn-primary btn-icon-split" value=" ImportData">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-import"></i>
                                                </span>
                                                <span class="text">取込</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <p id="import-res" class="mt-1" style="font-size:13px"></p>
                                        @if (ViewData["erroremess"] != null)
                                        {
                                            <p class="text-danger float-left mt-2" id="erroremess" style="font-size:13px">@ViewData["erroremess"]</p>
                                        }
                                        @if (ViewData["successmess"] != null)
                                        {
                                            <p class="text-success float-left mt-2" id="successmess" style="font-size:13px">@ViewData["successmess"]</p>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row overflow-scroll">
                        <div class="col-lg-6">
                            <div class=" card shadow mb-4">
                                <div class="card-header text-gray-800" style="padding-left:2rem">
                                    エラーメッセージ
                                </div>
                                <div class="card-body" style="padding:0 0 0 20px">
                                    <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3" style=" max-height: 110px;">
                                        <div>
                                            <div>
                                                <label>エラー件数：2件</label><br>
                                                <label>1行目:可能車両入力無し</label><br>
                                                <label>2行目:可能車両入力無し</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        $(document).ready(function () {

            //デフォルトのファイル選択UIを非表示にして、機能だけ使用する仕掛け
            $('#file-select-button').on('click', function (e) {
                $('#file-select-form input').trigger('click');
            });

            $('#nonyusaki-upload-form').on('change', function () {
                console.log('form change!');
                HandlingFilesBeforeUpLoading();
            });

            function HandlingFilesBeforeUpLoading() {

                $('#import-res').empty;
                $('#import-res').removeClass('text-danger');

                var form = new FormData(document.querySelector("#nonyusaki-upload-form"));
                var messege = "";
                var count = 1;
                for (var file of form) {
                    console.log(file);
                    if (file[0] === "FileUpload") {
                        if (count === 1) {
                            if (file[1]["size"] <= 0) {
                                messege = ('ファイルを選択してください');
                                $('#import-res').html(messege);
                                return false;
                            }
                            else {
                                messege += count + "." + file[1]["name"];
                                $('#import-res').html(messege);
                                $("#import-res").addClass("text-info");
                                ++count;
                            }
                        }
                        else if (file[1]["size"] > 0) {
                            messege += "<br>" + count + "." + file[1]["name"];
                            $('#import-res').html(messege);
                            ++count;
                        }
                        else {
                            messege = ('不明なエラー');
                            $('#import-res').html(messege);
                            $('#import-res').addClass('text-danger');
                            return false;
                        }
                    }
                }
            }

            $('#file-upload').on('click', function (e) {

                $('#import-res').empty;
                $('#import-res').removeClass('text-danger');

                // FormData オブジェクトの利用
                var formData = new FormData(document.querySelector("#nonyusaki-upload-form"));

                var IsFirst = true;
                for (var file of formData) {
                    if (IsFirst) {
                        if (file[1]["size"] <= 0) {
                            $('#import-res').text('ファイルが選択されていません');
                            $("#import-res").addClass('text-danger');
                            //alert("ファイルを選択してください");
                            return false;
                        }
                        else {
                            IsFirst = false;
                        }
                    }

                }

                if (!confirm("インポートを行います。よろしいですか？")) {
                    return false;
                }
                else {
                    formData.append("userName", "@User.Identity.Name");

                    $.ajax({
                        url: 'Nonyusaki',
                        method: 'post',
                        data: formData,
                        processData: false,
                        contentType: false
                    }).done(function (response) {
                        if (response.res === "OK") {
                            var res = "インポート成功！！！！！！";
                            $.each(response.nameList, function (index, name) {
                                res += "\n" + (index + 1) + "." + name;
                            })
                            alert(res);
                            location.reload();
                        }
                        else {
                            $("#import-res").addClass('text-danger');
                            $("#import-res").text(response.error);
                            form.reset();

                        }
                    }).fail(function (jqXHR, textStatus, errorThrown) {
                        console.log("jqXHR", jqXHR);
                        console.log("textStatus", textStatus);
                        console.log("errorThrown", errorThrown);
                        $("#import-res").addClass('text-danger');
                        $("#import-res").text("サーバーとの通信に失敗しました");
                    });
                }
            });
        });
    </script>
}