﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@*@model stock_management_system.Models.M_WareHouseViewModel*@

@{
    ViewData["Title"] = "エリア情報取込画面";
    Layout = "_Layout";
}

<style>
    .row {
        margin-right: 0rem;
        margin-left: 0rem;
    }

    label {
        position: relative;
        z-index: 0;
        display: inline-block;
    }

        label:hover {
            color: #fff;
        }

        label::before {
            z-index: -1;
            position: absolute;
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            background: #0a516d;
            transform: scaleX(0);
            transform-origin: right;
        }

        label:hover::before {
            transform: scaleX(1);
            transform-origin: left;
        }
</style>

<div class="row">
    <div style="width:800px">
        <div class="h4 mb-3 text-gray-800">
            @ViewData["Title"]
        </div>
        <div class="card shadow mb-4">
            <div class="card-header text-gray-800">
                エリア情報取込画面
            </div>
            <div class="card-body">
                <div class="valid-area">
                    <span id="FailMsg" class="text-danger">@ViewData["Error"] </span>
                    <span id="SuccessMsg" class="text-success">@ViewData["Message"]</span>
                </div>
                <form asp-controller="AreaTorikomu" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class=" card shadow mb-4">
                                <div class="card-header text-gray-800" style="padding-left:2rem">
                                    エクスポート
                                </div>
                                <div class="card-body">
                                    <div class="form-group col-sm-12">
                                        <div class="form-inline">
                                            <button type="submit" asp-action="ExportExcel" id="file-output" class="btn btn-primary btn-icon-split" value="Excel出力">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-export"></i>
                                                </span>
                                                <span class="text">出力</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form asp-controller="AreaTorikomu" method="post" enctype="multipart/form-data" id="Area_Upload_Form" onsubmit="return false;">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="card shadow mb-4">
                                <div class="card-header text-gray-800" style="padding-left:2rem">
                                    インポート
                                </div>
                                <div class="card-body">
                                    <div class="form-group col-sm-12">
                                        <div class="form-inline">
                                            <div id="file-select-form" style="display:none">
                                                <input id="FileUpload" name="FileUpload" type="file" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                                            </div>
                                            <button id="file-select-button" class="btn btn-light shadow mr-2">
                                                <i class="far fa-file-alt fa-fw"></i>EXCELファイル選択
                                            </button>
                                            <button type="button" id="file-upload" class="btn btn-primary btn-icon-split" value=" ImportData">
                                                <span class="icon text-white-50">
                                                    <i class="fas fa-file-import"></i>
                                                </span>
                                                <span class="text">取込</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12">
                                        <p id="import-res" class="mt-1" style="font-size:13px"></p>
                                        @if (ViewData["ErrorMsg"] != null)
                                        {
                                            <p class="text-danger float-left mt-2" id="erroremess" style="font-size:13px">@ViewData["ErrorMsg"]</p>
                                        }
                                        @if (ViewData["SuccessMsg"] != null)
                                        {
                                            <p class="text-success float-left mt-2" id="successmess" style="font-size:13px">@ViewData["SuccessMsg"]</p>
                                        }
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row overflow-scroll">
                        <div class="col-lg-6 card shadow mb-4" style="padding: 0rem">
                            <div class="card-header text-gray-800" style="padding-left:2rem">
                                エラーメッセージ
                            </div>
                            <div class="card-body" style="padding:0 0 0 20px">
                                <div class="overflow-auto p-3 mb-3 mb-md-0 me-md-3" style=" max-height: 110px;">
                                    <label></label><br>
                                    <label></label><br>
                                    <label></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(document).ready(function () {

            //デフォルトのファイル選択UIを非表示にして、機能だけ使用する仕掛け
            $('#file-select-button').on('click', function (e) {
                $('#file-select-form input').trigger('click');
            });

            $('#Area_Upload_Form').on('change', function () {
                HandlingFilesBeforeUpLoading();
            });

            function HandlingFilesBeforeUpLoading() {

                $('#import-res').empty;
                $('#import-res').removeClass('text-danger');

                var form = new FormData(document.querySelector("#Area_Upload_Form"));
                var messege = "";
                var count = 1;
                for (var file of form) {
                    if (file[0] === "FileUpload") {
                        if (count === 1) {
                            if (file[1]["size"] <= 0) {
                                messege = ('ファイルを選択してください');
                                $('#import-res').html(messege);
                                return false;
                            }
                            else {
                                messege += /*count + "." +*/ file[1]["name"];
                                $('#import-res').html(messege);
                                $("#import-res").addClass("text-info");
                                ++count;
                            }
                        }
                        else if (file[1]["size"] > 0) {
                            messege += "<br>" /*+ count + "."*/ + file[1]["name"];
                            $('#import-res').html(messege);
                            ++count;
                        }
                        else {
                            messege = ('不明なエラー');
                            $('#import-res').html(messege);
                            $('#import-res').addClass('text-danger');
                            return false;
                        }
                    }
                }
            }

            $('#file-upload').on('click', function (e) {
                $('#import-res').empty;
                $('#import-res').removeClass('text-danger');

                var fileUpload = $("#FileUpload").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                // Adding one more key to FormData object
                fileData.append("userName", "@User.Identity.Name");


                // FormData オブジェクトの利用
                var formData = new FormData(document.querySelector("#Area_Upload_Form"));

                var IsFirst = true;
                for (var file of formData) {
                    if (IsFirst) {
                        if (file[1]["size"] <= 0) {
                            $('#import-res').text('ファイルが選択されていません');
                            $("#import-res").addClass('text-danger');
                            //alert("ファイルを選択してください");
                            return false;
                        }
                        else {
                            IsFirst = false;
                        }
                    }
                }

                if (!confirm("インポートを行います。よろしいですか？")) {
                    return false;
                }
                else {
                    ImportExcel(fileData);
                }
            });
        });

        function ImportExcel(data) {
            ClearErrorMessageForm();
            // サーバーのデータを取得            
            $.ajax({
                type: 'POST',
                url: '/AreaTorikomi/ImportExcel',
                data: data,
                headers: {
                    "RequestVerificationToken":
                        "@User.Identity.Name"
                },
                async: true,
                cache: false,
                dataType: 'json',
                processData: false,
                contentType: false,
                success: function (res) {
                    if (res.status) {
                        let data = JSON.parse(res.data);
                        //IntoCodeRender(data);
                    } else {
                        ShowErrorMessageForm(res.message);
                    }
                },
                error: function (res) {
                    ShowErrorMessageForm(res.message);
                }
            });
        }

        // フォームのエラーメッセージが表示
        function ShowErrorMessageForm(message) {
            let item = document.getElementById('FailMsg');
            if (item && message) {
                item.innerHTML = message;
            }
            $('.container-fluid').scrollTop(0);
        }
        // フォームのサクセスメッセージが表示
        function ShowSuccessMessageForm(message) {
            let item = document.getElementById('SuccessMsg');
            if (item && message) {
                item.innerHTML = message;
            }
        }
        // フォームのエラーメッセージがクリア
        function ClearErrorMessageForm() {
            let item1 = document.getElementById('FailMsg');
            let item2 = document.getElementById('SuccessMsg');
            if (item1 && item2) {
                item1.innerHTML = '';
                item2.innerHTML = '';
            }
        }

</script>
}