﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@*@model stock_management_system.Models.M_WareHouseViewModel*@

@{
    ViewData["Title"] = "個別配送計画出力画面";
    Layout = "_Layout";
}

@*<div class="h4 mb-3 text-gray-800">
        @ViewData["Title"]
    </div>*@

<div class="row">
    <div class="col-lg-6">
        <div class="h4 mb-3 text-gray-800">
            @ViewData["Title"]
        </div>
        <div class="card shadow mb-4">
            <div class="card-header text-gray-800">
                個別配送計画出力画面
            </div>
            <div class="card-body">
                <form id="nonyushizi-upload-form" name="form" method="post" enctype="multipart/form-data" onsubmit="return false;">
                    <div class="form-group col-sm-12">
                        <div class="form-inline">
                            <div class="col-md-2">
                                <label class="col-md-12">年月 </label>
                            </div>
                            <div class="col-md-2">
                                <input type="date" value="2017-06-01">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <div class="form-inline">
                            @*<div id="file-select-form" style="display:none">
                                    <input name="PostedFile" type="file" accept="text/plain,text/csv,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv" multiple="multiple" />
                                </div>
                                <button id="file-select-button" class="btn btn-light shadow mr-2">
                                    <i class="far fa-file-alt fa-fw"></i>CSVファイル選択
                                </button>*@
                            <div class="col-md-2">
                                <button id="file-upload"　class="">
                                    出力
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <p id="import-res"></p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>