﻿@{
    ViewData["Title"] = "お知らせ";
}
<style>
    .content {
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
    }

    .info-area {
        width: 100%;
        display: -webkit-flex;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .info-item {
        width: 100%;
        height: 500px;
        background-color: #ffffff;
    }
</style>


<div class="display-area">
    <p class="display-title">@ViewData["Title"]</p>
    <div class="content">
        <div class="info-area">
            <div class="info-item">

            </div>
        </div>

    </div>
</div>
