﻿@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@using System.Security.Claims

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 配送計画作成</title>

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.css?@DateTime.Now" rel="stylesheet">
    <link href="~/css/site.css?@DateTime.Now" rel="stylesheet">

    <!-- アイコン設定 -->
    <link rel="shortcut icon" type="image/png" href="~/image/配送計画作成img1.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/image/配送計画作成img1.png">

    <!--autocomplete↓-->
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
    <!--autocomplete↑-->

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="~/css/skins/all.css">


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--autocomplete↓-->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <!--autocomplete↑-->
    <!--datepicker↓-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1/i18n/jquery.ui.datepicker-ja.min.js"></script>
    <!--datepicker↑-->
    <!--jQuery（動的）のバリデーション↓-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" type="text/javascript"></script>
    <!--jQuery（動的）のバリデーション↑-->

</head>
<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-imagecolor sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <div class="sidebar-brand d-flex align-items-center justify-content-center" style="cursor:pointer" title="Home" onclick="location.href='@Url.Action("Index", "Home")'; return false; ">
                <div class="sidebar-brand-icon rotate-n-15">
                    <img src="~/image/配送計画作成img2.png" id="main-icon" />
                </div>
                <div class="sidebar-brand-text mx-3">
                    配送計画作成
                    Console
                </div>
            </div>

            <!-- Divider -->
            <!--<hr class="sidebar-divider my-0">-->
            <!-- Nav Item - Dashboard -->
            <!--<li id="nav-item-home" class="nav-item active">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="fas fa-home fa-fw"></i>
            <span class="font-weight-bold font-monospace">Home</span>
        </a>
    </li>-->
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Menu
            </div>

            <!-- Nav Item - 日次処理    -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse1"
                   aria-expanded="true" aria-controls="collapse1">
                    <i class="fas fa-pen fa-fw"></i>
                    <span>
                        日次処理
                    </span>
                </a>
                <div id="collapse1" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="Plan" asp-action="Index">配送計画自動作成</a>
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="HaisouIchiran" asp-action="Index">配送計画一覧</a>
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="HaisouKeikakuShuusei" asp-action="Index">配送計画修正</a>
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="HaisouKeikakuTsuika" asp-action="Index">配送計画追加</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - メンテナンス -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2"
                   aria-expanded="true" aria-controls="collapse2">
                    <i class="fas fa-tools fa-fw"></i>
                    <span>メンテナンス</span>
                </a>
                <div id="collapse2" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="NonyusakiTorikomi" asp-action="Index">納入先情報取込</a>
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="NonyusakiTouroku" asp-action="Index">納入先情報登録</a>
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="NonyusakiIchiran" asp-action="Index">納入先情報一覧</a>
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="AreaTorikomi" asp-action="Index">エリア情報取込</a>
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="KanouSyaryou" asp-action="Index">可能車両車格取込</a>
                    </div>
                </div>
            </li>

            <!-- Nav Item - 改善 -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3"
                   aria-expanded="true" aria-controls="collapse3">
                    <i class="fas fa-level-up-alt fa-fw"></i>
                    <span>改善</span>
                </a>
                <div id="collapse3" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        @*<h6 class="collapse-header">Custom Utilities:</h6>*@
                        <a class="collapse-item collapse-item-imagecolor" asp-area="" asp-controller="KobetsuKeikaku" asp-action="Index">個別配送計画出力</a>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="fadeLayer"></div>
            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link-imagecolor d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        @*<div class="topbar-divider d-none d-sm-block"></div>*@
                        <div class="d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                                    @User.Claims.Where(c => c.Type == ClaimTypes.Name).Skip(2).First().Value
                                </span>
                                <i class="fas fa-user-circle fa-lg mr-2"></i>
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <div id="user-detail-dropdown-item" class="dropdown-item text-gray-600 mt-3">
                                    <p>
                                        <i class="fas fa-building fa-fw"></i>
                                        <label class="mr-2 col-4">
                                            会社名
                                        </label>
                                        <span class="col">
                                            @User.Claims.Where(c => c.Type == ClaimTypes.Name).First().Value
                                        </span>
                                    </p>
                                    <p>
                                        <i class="fas fa-warehouse fa-fw"></i>
                                        <label class="mr-2 col-4">
                                            デポ
                                        </label>
                                        <span class="col">
                                            @User.Claims.Where(c => c.Type == ClaimTypes.Name).Skip(1).First().Value
                                        </span>
                                    </p>
                                    <p>
                                        <i class="fas fa-user fa-fw"></i>
                                        <label class="mr-2 col-4">
                                            ユーザー
                                        </label>
                                        <span class="col">
                                            @User.Claims.Where(c => c.Type == ClaimTypes.Name).Skip(2).First().Value
                                        </span>
                                    </p>

                                </div>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-center" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-fw mr-2"></i>
                                    ログアウト
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End of Content Wrapper -->
                <!-- Footer -->
                <footer>
                    <span>© Tozan co., Ltd.</span>
                </footer>
                <!-- End of Footer -->
            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    @RenderSection("Scripts", required: false)

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">確認</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">ログアウトします。よろしいですか？</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">キャンセル</button>
                    <a class="btn btn-danger" asp-area="" asp-controller="Account" asp-action="Logout">ログアウト</a>
                </div>
            </div>
        </div>
    </div>

</body>

</html>

<!-- Bootstrap core JavaScript-->
@*<script src="~/vendor/jquery/jquery.min.js"></script>*@
<script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="~/js/sb-admin-2.js"></script>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>*@
<script src="~/js/icheck.min.js"></script>

<script>
    $(document).ready(function () {

        //    var activeItem = $(document).find('.active');
        //    activeItem.not('#nav-item-home').removeClass('active');

        //    var getpass = location.pathname;
        //    console.log(getpass);

        //    var targetLinkItem = $("a.collapse-item[href='" + getpass + "']");
        //    var targetLength = targetLinkItem.length;
        //    if (targetLength == 1) {
        //        targetLinkItem.addClass('active');

        //        var targetCollapse = targetLinkItem.parent('div').parent('div');
        //        targetCollapse.addClass('show');

        //        var targetNavItem = targetCollapse.parent('li.nav-item');
        //        targetNavItem.addClass('active')
        //    }

 })

</script>
<script>
    $(function () {
        //チェックボックスデザイン変更
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-red',
            radioClass: 'iradio_flat-red',
            increaseArea: '20%' // optional
        });
    });
</script>
