﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.HaisouKeikakuShuuseiModel

@{
    ViewData["Title"] = "配送計画修正画面";
    Layout = "_Layout";
}
<style>
    .underline_top {
        margin-block-start: 0em;
    }
</style>

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>

<div class="card shadow mb-4 c-dialog">
    <div class="card-header text-gray-800">
        配送計画修正画面
    </div>
    <div class="card-body">
        <form class="col-md-12" method="post" asp-controller="HaisouKeikakuShuusei">
            <div class="d-flex justify-content-between">
                <div class="valid-area">
                    <span id="FailMsg" class="text-danger">@ViewData["Error"] </span>
                    <span id="SuccessMsg" class="text-success">@ViewData["Message"]</span>
                </div>
                <div class="text-right">
                    <button class="btn btn-light btn-icon-split" type="button" onclick="document.location.href = '/haisouichiran';">
                        <span class="icon text-white-50">
                            <i class="fas fa-arrow-left"></i>
                        </span>
                        <span class="text">戻る​</span>
                    </button>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="c-label-text"> 配送日付</label>
                </div>
                <div class="col-md-3">
                    <label class="c-label-text" id="Deli_Date">@Model.Deli_Date.ToString("yyyy/MM/dd")</label>
                </div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">配送区分</label>
                </div>
                <div class="col-md-3">
                    <label class="c-label-text" id="Deli_Type_Name">@Model.Deli_Type_Name</label>
                </div>
            </div>

            <div id="into-info-div">
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text"> 納入先名</label>
                    </div>
                    <div class="col-md-9">
                        <label class="c-label-text" id="into-name-label">
                            @Model.Into_Name
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text"> 住所</label>
                    </div>
                    <div class="col-md-9">
                        <label class="c-label-text" id="Into_Address">
                            @Model.Into_Address
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text"> 可能車両</label>
                    </div>
                    <div class="col-md-3">
                        <label class="c-label-text" id="Available_Car">
                            @Model.Available_Car
                        </label>
                    </div>
                    <div class="col-md-3">
                        <label class="c-label-text"> 納入先作業時間(分)</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" asp-for="Work_Time" class="form-control">
                        <span asp-validation-for="Work_Time" class="text-danger"></span>
                    </div>
                </div>
                <div class="row" id="assign-time-row">
                    <div class="col-md-3">
                        <label class="c-label-text">時間指定</label>
                    </div>
                    <div class="col-md-1">
                        有
                        <input class="form-check-input" type="radio" asp-for="Assign_Time_Flag" value=1>
                    </div>
                    <div class="col-md-1">
                        無
                        <input class="form-check-input" type="radio" asp-for="Assign_Time_Flag" value=0>
                    </div>
                </div>
                <div class="row" id="assign-time-row2" 
                     >
                    <div class="col-md-3">
                        <label class="c-label-text">時間指定開始</label>
                    </div>
                    <div class="col-md-2">
                        <input type="time" asp-for="Assign_Start_Time" class="form-control" value="@Model.Assign_Start_Time">
                        <span asp-validation-for="Assign_Start_Time" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <label class="c-label-text"> 時間指定終了</label>
                    </div>
                    <div class="col-md-2">
                        <input type="time" asp-for="Assign_End_Time" class="form-control" value="@Model.Assign_End_Time">
                        <span asp-validation-for="Assign_End_Time" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div id="track-info-div">
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text">トラックコード</label>
                    </div>
                    <div class="col-md-2">
                        @*<input class="form-control-plaintext" type="email" asp-for="Track_Cd" readonly>*@
                        <label class="c-label-text" id="Track_Cd">@Model.Track_Cd</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text">指示No</label>
                    </div>
                    <div class="col-md-5">
                        @*<input class="form-control-plaintext" type="email" asp-for="Instruction_No" readonly>*@
                        <label class="c-label-text" id="Instruction_No">@Model.Instruction_No</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3" id="leave-time-col">
                        <label class="c-label-text">出発時間</label>
                    </div>
                    <div class="col-md-2" id="leave-time-col2">
                        <input type="time" asp-for="Leave_Time" class="form-control">
                        <span asp-validation-for="Leave_Time" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label class="c-label-text"> 到着順</label>
                    </div>
                    <div class="col-md-2">
                        @*<input type="text" asp-for="Arrive_No" class="form-control">*@
                        <label class="c-label-text" id="Arrive_No">@Model.Arrive_No</label>
                    </div>
                </div>
                <div class="row" id="toll-road-row">
                    <div class="col-md-3">
                        <label class="c-label-text">有料道路使用</label>
                    </div>
                    <div class="col-md-1">
                        有
                        <input class="form-check-input" type="radio" asp-for="Toll_Road" value=1>
                    </div>
                    <div class="col-md-1">
                        無
                        <input class="form-check-input" type="radio" asp-for="Toll_Road" value=0>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label class="c-label-text"> 質量(kg)</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="Ship_Weight" class="form-control" value="@Model.Ship_Weight">
                        <span asp-validation-for="Ship_Weight" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text">備考</label>
                    </div>
                    <div class="col-md-5">
                        <textarea cols="30" rows="1" class="form-control" asp-for="Remark" value="@Model.Remark"></textarea>
                        <span asp-validation-for="Remark" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <button class="btn btn-success btn-icon-split" type="button" id="Save">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">保存</span>
                    </button>
                    <button class="btn btn-danger btn-icon-split" type="button" id="Delete">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">削除​</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        function notifyOK(message) {
            $("#SuccessMsg").text(message);
            $("#FailMsg").text("");
        }
        function notifyNG(message) {
            $("#SuccessMsg").text("");
            $("#FailMsg").text(message);
        }

        $("#Save").on("click", function (e) {
            var Assign_Time_Flag = parseInt($("#Assign_Time_Flag:checked").val()) === 1 ? 1 : 0;
            var Work_Time = parseInt($("#Work_Time").val());

            if (Assign_Time_Flag === 1) {
                //check Assign_Start_Time < Assign_End_Time
                try {
                    var startTime = eval($("#Assign_Start_Time").val().replace(":", "*60+"));
                    var endTime = eval($("#Assign_End_Time").val().replace(":", "*60+"));
                    if (!startTime || !endTime) {
                        //notifyNG("時間指定が必要です。");
                        notifyNG("修正が出来ません。再度確認してください。");
                        return;
                    }
                }
                catch {
                    notifyNG("時間指定は[HH:MM]で入力可能です。");
                    return;
                }

                if (startTime >= endTime) {
                    notifyNG("時間指定終了が先になっています。");
                    return;
                }


                if ((Work_Time + startTime) > endTime) {
                    notifyNG("納入先作業時間[分]が時間指定開始～時間指定終了内に収まりません。");
                    return;
                }
            }

            //weight
            var Ship_Weight = parseInt($("#Ship_Weight").val());
            if (!(Ship_Weight >= 0)) {
                notifyNG("修正が出来ません。再度確認してください。");
                return;
            }

            //work time
            if (!(Work_Time >= 0)) {
                notifyNG("修正が出来ません。再度確認してください。");
                return;
            }

            //confirm
            if (!confirm("保存します。よろしいですか？")) {
                return;
            }

            //save
            //if success: show SuccessMsg "配送修正済みです。"
            var Deli_Type_Name = $("#Deli_Type_Name").html();
            var data = {
                Deli_Date: $("#Deli_Date").html().replaceAll("/", "-",),
                Track_Cd: $("#Track_Cd").html(),
                Instruction_No: $("#Instruction_No").html(),
                Arrive_No: parseInt($("#Arrive_No").html()),
                Deli_Type_Name,
                Work_Time: parseInt($("#Work_Time").val()),
                Assign_Start_Time: $("#Assign_Start_Time").val(),
                Assign_End_Time: $("#Assign_End_Time").val(),
                Leave_Time: $("#Leave_Time").val(),
                Toll_Road: parseInt($("#Toll_Road:checked").val()),
                Remark: $("#Remark").val(),
                Assign_Time_Flag,

            };

            switch (Deli_Type_Name) {
                case "出荷":
                case "引取納め（納め）":
                    data["Ship_Weight"] = parseInt($("#Ship_Weight").val());
                    data["Take_Weight"] = data["Ship_Weight"];
                    break;
                default:
                    data["Take_Weight"] = 0;
                    data["Ship_Weight"] = 0;
                    $("#Ship_Weight").val(0);
                    break;
            }

            if (Assign_Time_Flag == 0) {
                data.Assign_Start_Time = "---";
                data.Assign_End_Time = "---";
            }
            //console.log(data);
            $.ajax({
                type: "POST",
                url: "../haisoukeikakushuusei/Save",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    //console.log(JSON.parse(result);
                    if (result.status) {
                        notifyOK("配送計画修正が完了しました。")
                    }
                    else {
                        //notifyNG(result.message);
                        notifyNG("修正が出来ません。再度確認してください。");
                    }
                },
                error: function (errormessage) {
                    notifyNG(errormessage.responseText);
                }
            });

        });
        $("#Assign_Time_Flag").on("change", function (e) {
            //console.log($("#Assign_Time_Flag:checked").val())
            var Assign_Time_Flag = parseInt($("#Assign_Time_Flag:checked").val()) === 1 ? 1 : 0;
            //console.log(Assign_Time_Flag);
            if (Assign_Time_Flag == 0) {
                $("#Assign_Start_Time").prop('readonly', true);
                $("#Assign_End_Time").prop('readonly', true);
            } else {
                $("#Assign_Start_Time").prop('readonly', false);
                $("#Assign_End_Time").prop('readonly', false);
            }
        });
        $("#Delete").on("click", function (e) {
            //delete
            //if success: show SuccessMsg "配送削除済みです。"
            var data = {
                Deli_Date: $("#Deli_Date").html().replaceAll("/", "-",),
                Track_Cd: $("#Track_Cd").html(),
                Instruction_No: $("#Instruction_No").html(),
                Arrive_No: parseInt($("#Arrive_No").html()),
            };
            if (!confirm("削除します。よろしいですか？")) {
                return;
            }
            $.ajax({
                type: "POST",
                url: "../haisoukeikakushuusei/Delete",
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: false,
                success: function (result) {
                    if (result.status) {
                        notifyOK("配送削除済みです。");
                        document.location.href = '/haisouichiran'
                    }
                    else {
                        notifyNG(result.message);
                    }
                },
                error: function (errormessage) {
                    notifyNG(errormessage.responseText);
                }
            });
        });

        $("form :input[type=text],input[type=radio],input[type=time],textarea").each(function () {
            var input = $(this); // This is the jquery object of the input, do what you will
            //console.log(input.attr('name'));
            input.on("change", function (e) {
                $("#SuccessMsg").text("");
                $("#FailMsg").text("");
            });
        })

        $(window).onload = (function () {
            console.log("onload",Date.now())
            var slider = document.getElementById("slider1");
            slider.addEventListener('scroll', () => {
                var slider = document.getElementById("slider1");
                var out_frame = document.getElementById("outputSlider");
                out_frame.innerText = slider.value;
            });
        });
    });

    function updateControl() {
        var Deli_Type_Name = $("#Deli_Type_Name").html();
        //console.log(Deli_Type_Name);
        //Deli_Type_Name = "休憩";
        //Deli_Type_Name = "デポ";
        switch (Deli_Type_Name) {
            case "休憩":
                $("#assign-time-row").css("visibility", "hidden");  //10
                $("#assign-time-row2").css("visibility", "hidden"); //11,12
                $("#leave-time-col").css("visibility", "hidden");   //15
                $("#leave-time-col2").css("visibility", "hidden");
                $("#toll-road-row").css("visibility", "hidden");    //17,18
                $('input:radio[name=Assign_Time_Flag][value=0]').click();
                break;
            case "デポ":
                break;
            default:
                $("#leave-time-col").css("visibility", "hidden");   //15
                $("#leave-time-col2").css("visibility", "hidden");
                break;
        }

        //console.log($("#Assign_Time_Flag:checked").val())
        var Assign_Time_Flag = parseInt($("#Assign_Time_Flag:checked").val()) === 1 ? 1 : 0;
        //console.log(Assign_Time_Flag);
        if (Assign_Time_Flag == 0) {
            $("#Assign_Start_Time").prop('readonly', true);
            $("#Assign_End_Time").prop('readonly', true);
        } else {
            $("#Assign_Start_Time").prop('readonly', false);
            $("#Assign_End_Time").prop('readonly', false);
        }
    }

    updateControl();
</script>
