﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.NonyusakiTourokuModel

@{
    ViewData["Title"] = "納入先情報修正画面";
    Layout = "_Layout";
}

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>

<div class="card shadow mb-4 c-dialog">
    <div class="card-header text-gray-800">
        納入先情報修正画面
    </div>
    <div class="card-body">
        <form class="col-md-12" method="post" asp-controller="NonyusakiIchiran" asp-action="StylesButton">
            <div class="btn-header">
                <div class="btn-headerRight">
                    <button type="button" onclick="goBack()" class="btn btn-light">
                        <i class="fas fa-arrow-alt-circle-left"></i>
                        戻る
                    </button>
                </div>
            </div>

            <div class="valid-area">
                <span id="FailMsg" class="text-danger">@ViewData["Error"] </span>
                <span id="SuccessMsg" class="text-success">@ViewData["Message"]</span>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="c-label-text">納入先名 </label>
                </div>
                <div class="col-md-5">
                    <input type="text" asp-for="Into_Name" class="form-control">
                    <span asp-validation-for="Into_Name" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">納入先コード</label>
                </div>
                <div class="col-md-3">
                    <input type="text" asp-for="Into_Cd" class="form-control" readonly>
                    @Html.HiddenFor(Model => Model.Into_Cd)
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="c-label-text">住所</label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Address" class="form-control">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" id="bin_text">
                    <label class="control-label c-label-text">便No</label>
                </div>
                <div class="col-md-1" id="bin_number">
                    <input type="number" asp-for="Bin_No" class="form-control" readonly>
                    @Html.HiddenFor(Model => Model.Bin_No)
                </div>
                <div class="col-md-2" id="Available_text">
                    <label class="c-label-text text-right">可能車両</label>
                </div>
                <div class="col-md-2" id="Available_select">
                    <select asp-for="Available_car" onchange="this.nextElementSibling.value=this.value" class="form-control">
                        <option value="8tまで"> 8tまで</option>
                        <option value="12t（8694以外）まで"> 12t（8694以外）まで</option>
                        <option value="12tまで"> 12tまで</option>
                        <option value="15tだけﾀﾞﾒ"> 15tだけﾀﾞﾒ</option>
                        <option value="15tまで"> 15tまで</option>
                        <option value="全てOK（トレーラ含む）"> 全てOK（トレーラ含む）</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <label class="control-label c-label-text text-right">納入先作業時間(分)</label>
                </div>
                <div class="col-md-2">
                    <input type="number" asp-for="Work_time" class="form-control" placeholder="" id="time_number">
                    <span asp-validation-for="Work_time" class="text-danger"></span>
                </div>
            </div>

            <div class="row" id="radio_div">
                <div class="col-md-2">
                    <label class="c-label-text">時間指定</label>
                </div>
                <input type="text" style="display:none" asp-for="Time_FLG" id="box_radio">
                <div class="col-md-1">
                    <input class="form-check-input" type="radio" name="Time_FLG" id="radio1" value=""> 有
                </div>

                <div class="col-md-1">
                    <input class="form-check-input" type="radio" name="Time_FLG" id="radio2" value=""> 無
                </div>
            </div>

            <div class="row" id="Time_div">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">時間指定開始</label>
                </div>
                <div class="col-md-1.5">
                    <input class="form-control" id="appt-time1" type="time" name="Start_Time" asp-for="Start_Time">
                    <span asp-validation-for="Start_Time" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">時間指定終了</label>
                </div>
                <div class="col-md-1.5">
                    <input class="form-control" id="appt-time2" type="time" name="End_Time" asp-for="End_Time">
                    <span asp-validation-for="End_Time" class="text-danger"></span>
                </div>
            </div>

            <input style="display:none" asp-for="Week" />
            <input style="display:none" asp-for="Week_DB" />
            <div class="row" id="checkbox_div">
                <div class="col-md-2">
                    <label class="c-label-text">曜日指定</label>
                </div>
                <input type="text" asp-for="Week" id="checkbox" hidden>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox1" checked /> 月
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox2" checked /> 火
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox3" checked /> 水
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox4" checked /> 木
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox5" checked /> 金
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox6" checked /> 土
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox7" checked /> 日
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" id="area_text">
                    <label class="c-label-text">エリア</label>
                </div>
                <div class="col-md-2" id="area_select">
                    <select asp-for="Area_Name" onchange="this.nextElementSibling.value=this.value" class="form-control">
                        <option value="西三河"> 西三河</option>
                        <option value="東三河"> 東三河</option>
                        <option value="静岡"> 静岡</option>
                        <option value="三重"> 三重</option>
                        <option value="長野"> 長野</option>
                        <option value="知多"> 知多</option>
                    </select>
                </div>
                <div class="col-md-2"></div>

                <div class="col-md-2">
                    <input type="checkbox" id="check_depo" asp-for="Depo_FLG" disabled /> デポ
                    <input type="text" asp-for="Depo_FLG" hidden />
                </div>
            </div>
            <div class="row">
                <div class="c-dialog-area col-md-2" style="padding-left:0px">
                    <button type="submit" id="NonyuEdit" name="editButton" value="保存" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">保存</span>
                    </button>
                </div>
                <div class="col-md-8"></div>
                <div class="c-dialog-area col-md-2" style="padding-right:0px">
                    <button type="submit" id="NonyuDelete" name="deleteButton" value="削除" class="btn btn-danger btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span class="text">削除</span>
                    </button>
                </div>

            </div>


        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $("#radio1").on('change', function () {
                if ($("#radio1").prop("checked") == true) {
                    $("#box_radio").val('True');
                    $("#appt-time1").prop('readonly', false);
                    $("#appt-time2").prop('readonly', false);
                }
                else {
                    $("#box_radio").val('False');
                    $("#appt-time1").prop('readonly', true);
                    $("#appt-time2").prop('readonly', true);
                }
            })
            //=================================================
            $("#radio2").prop("checked", true);
            if ($("#radio2").prop("checked", true)) {
                $("#appt-time1").prop('readonly', true);
                $("#appt-time2").prop('readonly', true);
            }
            if (($("#box_radio").val() == 'True')) {
                $("#radio1").prop("checked", true);
                $("#appt-time1").prop('readonly', false);
                $("#appt-time2").prop('readonly', false);
            } else {
                $("#radio2").prop("checked", true);
            }
            //================

            //============================================================
            for (let i = 0; i < $("#checkbox").val().length; i++) {
                let j = i + 1;
                var week = "#checkbox" + j;
                if ($("#checkbox").val()[i] == '1') {
                    $(week).prop('checked', true);
                } else {
                    $(week).prop('checked', false);
                }
            }

            ////チェックWeekの値を初期状態で送信する================================
            var arrcheck = $("#checkbox1").closest(".row").find("input[type='checkbox']");
            var week = "";
            for (var item of arrcheck) {
                if (item.checked == true) {
                    week += "1";
                }
                else {
                    week += "0";
                }
            }
            $("#Week_DB").val(week);

            ///Depoチェックを実施する。
            //======================================================
            if ($("#check_depo").prop("checked") == true) {
                $("#bin_text").css("visibility", "hidden");
                $("#bin_number").css("visibility", "hidden");
                $("#Available_text").css("visibility", "hidden");
                $("#Available_select").css("visibility", "hidden");
                $("#radio_div").css("visibility", "hidden");
                $("#Time_div").css("visibility", "hidden");
                $("#checkbox_div").css("visibility", "hidden");
                $("#area_text").css("visibility", "hidden");
                $("#area_select").css("visibility", "hidden");
                ($("#check_depo_return").val() == 'True')
            }
            ///=============================================================
            $('#NonyuEdit').on('click', function () {
                if (($("#radio1").prop("checked") == true) && ($("#check_depo").prop("checked") == false)) {
                    if (convertTime($("#appt-time1").val()) >= convertTime($("#appt-time2").val())) {
                        alert("時間指定終了が先になっています。");
                        return false;
                    }
                }

                //チェックWeekの値を初期状態で送信する================================
                var arrcheck = $("#checkbox1").closest(".row").find("input[type='checkbox']");
                var week = "";
                for (var item of arrcheck) {
                    if (item.checked == true) {
                        week += "1";
                    }
                    else {
                        week += "0";
                    }
                }
                $("#Week").val(week);
                //============================================================

                if (!confirm('修正することを保存します。よろしいですか？')) {
                    return false;
                } else {
                    $(this).submit();
                }
            });
            function convertTime(Time) {
                var Data = Time.split(":");
                let a = Data[0] * 60 + Data[1];
                return parseInt(a);
            }
            //============================================================
            $('#NonyuDelete').on('click', function () {
                if (!confirm('削除を保存します。よろしいですか？')) {
                    return false;
                } else {
                    $(this).submit();
                }
            });
            //============================================================
        });
        function goBack() {
            var urlTop =
                $(location).attr('protocol') + '//' + $(location).attr('host') + '/';
            window.location = urlTop + "nonyusakiichiran";
        }
            //============================================================
    </script>
}



