﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.NonyusakiTourokuModel

@{
    ViewData["Title"] = "納入先情報一覧画面";
    Layout = "_Layout";
}

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>

<div class="card shadow mb-4">
    <div class="card-header text-gray-800">
        納入先情報 一覧画面
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12 d-flex flex-row bd-highlight">
                <form class="form-inline ml-3" method="post" asp-controller="NonyusakiIchiran" asp-action="Index">
                    <input type="text" asp-for="NonyusakiSearch" id="tbxProductSearch" class="form-control col-9 mr-1" placeholder="キーワード" />
                    <button type="submit" class="btn btn-light btn-square" title="検索">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered table-white table-sm">
                    <thead class="thead-light text-center">
                        <tr class="form-group">
                            <th class="align-middle table-bordered"></th>
                            <th class="align-middle table-bordered">納入先<br>コード</th>
                            <th style="min-width: 150px" class="align-middle table-bordered">納入先名</th>
                            <th style="min-width: 250px" class="align-middle table-bordered">住所</th>
                            <th class="align-middle table-bordered">便No</th>
                            <th style="min-width: 100px" class="align-middle table-bordered">可能車両</th>
                            <th class="align-middle table-bordered">納入先<br>作業時間<br>[分]</th>
                            <th class="align-middle table-bordered">時間<br>指定</th>
                            <th class="align-middle table-bordered">時間<br>指定<br>開始</th>
                            <th class="align-middle table-bordered">時間<br>指定<br>終了</th>
                            <th class="align-middle table-bordered">月</th>
                            <th class="align-middle table-bordered">火</th>
                            <th class="align-middle table-bordered">水</th>
                            <th class="align-middle table-bordered">木</th>
                            <th class="align-middle table-bordered">金</th>
                            <th class="align-middle table-bordered">土</th>
                            <th class="align-middle table-bordered">日</th>
                            <th class="align-middle table-bordered">エリア</th>
                            <th class="align-middle table-bordered">デポ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.NonyusakiList != null)
                        {
                            @foreach (var obj in @Model.NonyusakiList)
                            {
                                <tr>
                                    <td class="text-center">
                                        <button type="button" class="btn btn-light btn-square" onclick="location.href='@Url.Action("Edit", "NonyusakiIchiran", new { cd = obj.Into_Cd, bin = obj.Bin_No,week = obj.Week} )'; return false;" title="修正">
                                            <i class="fas fa-edit"></i>
                                        </button>
                                    </td>
                                    <td class="text-center">@obj.Into_Cd</td>
                                    <td class="text-center">@obj.Into_Name</td>
                                    <td class="text-center">@obj.Address</td>
                                    <td class="text-center">@obj.Bin_No</td>
                                    <td class="text-center">@obj.Available_car</td>
                                    <td class="text-center">@obj.Work_time</td>
                                    @if (@obj.Time_FLG == true)
                                    {
                                        <td class="text-center">有</td>
}
                                    else
                                    {
                                        <td class="text-center">無</td>
}
                                    <td class="text-center">@obj.Start_Time</td>
                                    <td class="text-center">@obj.End_Time</td>
                                    @for (int i = 0; i < obj.Week.Length; i++)
                                    {
                                        if (@obj.Week[i] == '1')
                                        {
                                            <td class="text-center">○</td>
}
                                        else
                                        {
                                            <td class="text-center"></td>
}
                                    }
                                    <td class="text-center">@obj.Area_Name</td>
                                    @if (@obj.Depo_FLG == true)
                                    {
                                        <td class="text-center">○</td>
}
                                    else
                                    {
                                        <td class="text-center"></td>
}
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>