﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.NonyusakiTourokuModel

@{
    ViewData["Title"] = "納入先情報登録画面";
    Layout = "_Layout";
}

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>

<div class="card shadow mb-4 c-dialog">
    <div class="card-header text-gray-800">
        納入先情報登録画面
    </div>
    <div class="card-body">

        <form class="col-md-12" method="post" asp-controller="NonyusakiTouroku" asp-action="Create">
            <div class="valid-area">
                <span id="FailMsg" class="text-danger">@ViewData["Error"] </span>
                <span id="SuccessMsg" class="text-success">@ViewData["Message"]</span>
            </div>
            <div class="row">
                <div class="col-md-2">
                    <label class="c-label-text">納入先名 </label>
                </div>
                <div class="col-md-5">
                    <input type="text" asp-for="Into_Name" class="form-control">
                    <span asp-validation-for="Into_Name" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">納入先コード</label>
                </div>
                <div class="col-md-3">
                    <input type="text" asp-for="Into_Cd" class="form-control" placeholder="">
                    <span asp-validation-for="Into_Cd" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2">
                    <label class="c-label-text">住所</label>
                </div>
                <div class="col-md-10">
                    <input type="text" asp-for="Address" class="form-control">
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" id="bin_text">
                    <label class="control-label c-label-text">便No</label>
                </div>
                <div class="col-md-1" id="bin_number">
                    <input type="number" asp-for="Bin_No" class="form-control" id="bin">
                    <span asp-validation-for="Bin_No" class="text-danger"></span>
                </div>
                <div class="col-md-2" id="Available_text">
                    <label class="c-label-text text-right">可能車両</label>
                </div>
                <div class="col-md-2" id="Available_select">
                    <select asp-for="Available_car" asp-items="@Model.Lst_Available_car" class="form-control"></select>
                    <!--
                    <select asp-for="Available_car" class="form-control">
                        @*<option value="@item.itemValue">@item.itemName</option>*@
                        <option value="8tまで"> 8tまで</option>
                        <option value="12t（8694以外）まで"> 12t（8694以外）まで</option>
                        <option value="12tまで"> 12tまで</option>
                        <option value="15tだけﾀﾞﾒ"> 15tだけﾀﾞﾒ</option>
                        <option value="15tまで"> 15tまで</option>
                        <option value="全てOK（トレーラ含む）"> 全てOK（トレーラ含む）</option>
                    </select>
                    -->
                </div>
                <div class="col-md-3">
                    <label class="control-label c-label-text text-right">納入先作業時間(分)</label>
                </div>
                <div class="col-md-2">
                    <input type="number" asp-for="Work_time" class="form-control" placeholder="" id="time_number">
                    <span asp-validation-for="Work_time" class="text-danger"></span>
                </div>
            </div>

            <div class="row" id="radio_div">
                <div class="col-md-2">
                    <label class="c-label-text">時間指定</label>
                </div>
                <input type="text" asp-for="Time_FLG" id="box_radio" hidden>
                <div class="col-md-1">
                    <input class="form-check-input" type="radio" name="Time_FLG" id="radio1"> 有
                </div>

                <div class="col-md-1">
                    <input class="form-check-input" type="radio" name="Time_FLG" id="radio2"> 無
                </div>
            </div>

            <div class="row" id="Time_div">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">時間指定開始</label>
                </div>

                <div class="col-md-1.5">
                    <input class="form-control" id="appt-time1" type="time" name="Start_Time" asp-for="Start_Time">
                    <span asp-validation-for="Start_Time" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">時間指定終了</label>
                </div>
                <div class="col-md-1.5">
                    <input class="form-control" id="appt-time2" type="time" name="End_Time" asp-for="End_Time">
                    <span asp-validation-for="End_Time" class="text-danger"></span>
                </div>
            </div>

            <input style="display:none" asp-for="Week" />
            <div class="row" id="checkbox_div">
                <div class="col-md-2">
                    <label class="c-label-text">曜日指定</label>
                </div>
                <input type="text" asp-for="Week" id="checkbox" hidden>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox1" checked /> 月
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox2" checked /> 火
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox3" checked /> 水
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox4" checked /> 木
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox5" checked /> 金
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox6" checked /> 土
                </div>
                <div class="col-md-1">
                    <input type="checkbox" id="checkbox7" checked /> 日
                </div>
            </div>

            <div class="row">
                <div class="col-md-2" id="area_text">
                    <label class="c-label-text">エリア</label>
                </div>
                <div class="col-md-2" id="area_select">
                    <select asp-for="Area_Name" asp-items="@Model.Lst_Area_name" class="form-control"></select>
                    @*<select asp-for="Area_No" class="form-control">
                            <option value="西三河"> 西三河</option>
                            <option value="東三河"> 東三河</option>
                            <option value="静岡"> 静岡</option>
                            <option value="三重"> 三重</option>
                            <option value="長野"> 長野</option>
                            <option value="知多"> 知多</option>
                        </select>*@
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <input type="checkbox" id="check_depo" asp-for="Depo_FLG" /> デポ
                </div>
            </div>

            <div class="c-dialog-area" style="padding-left:0px">
                <button type="submit" id="NonyuToroku" name="NonyuToroku" value="保存" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">保存</span>
                </button>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $(function () {
            $("#radio1").on('change', function () {
                if ($("#radio1").prop("checked") == true) {
                    $("#box_radio").val('True');
                    $("#appt-time1").prop('readonly', false);
                    $("#appt-time2").prop('readonly', false);
                }
                else {
                    $("#box_radio").val('False');
                    $("#appt-time1").prop('readonly', true);
                    $("#appt-time2").prop('readonly', true);
                }
            })
            //初めて画面表示======================================
            if ($("#time_number").val() == "") {
                $("#time_number").val("30");
            }
            if ($("#bin").val() == "") {
                $("#bin").val("1");
            }
            if ($("#appt-time1").val() == "") {
                $("#appt-time1").val("08:00");
            }
            if ($("#appt-time2").val() == "") {
                $("#appt-time2").val("09:00");
            }
            if ($("#box_radio").val() == "") {
                $("#radio2").prop("checked", true);
            }
            //=================================================
            $("#radio2").prop("checked", true);
            if ($("#radio2").prop("checked", true)) {
                $("#appt-time1").prop('readonly', true);
                $("#appt-time2").prop('readonly', true);
            }
            if (($("#box_radio").val() == 'True')) {
                $("#radio1").prop("checked", true);
                $("#appt-time1").prop('readonly', false);
                $("#appt-time2").prop('readonly', false);
            } else {
                $("#radio2").prop("checked", true);
            }
            //================
            for (let i = 0; i < $("#checkbox").val().length; i++) {
                let j = i + 1;
                var week = "#checkbox" + j;
                if ($("#checkbox").val()[i] == '1') {
                    $(week).prop('checked', true);
                } else {
                    $(week).prop('checked', false);
                }
            }
            ///Depoチェックを実施する。
            //======================================================
            $("#check_depo").on('change', function () {
                if ($("#check_depo").prop("checked") == true) {
                    $("#bin_text").css("visibility", "hidden");
                    $("#bin_number").css("visibility", "hidden");
                    $("#Available_text").css("visibility", "hidden");
                    $("#Available_select").css("visibility", "hidden");
                    $("#radio_div").css("visibility", "hidden");
                    $("#Time_div").css("visibility", "hidden");
                    $("#checkbox_div").css("visibility", "hidden");
                    $("#area_text").css("visibility", "hidden");
                    $("#area_select").css("visibility", "hidden");
                }
                else {
                    $("#bin_text").css("visibility", "visible");
                    $("#bin_number").css("visibility", "visible");
                    $("#Available_text").css("visibility", "visible");
                    $("#Available_select").css("visibility", "visible");
                    $("#radio_div").css("visibility", "visible");
                    $("#Time_div").css("visibility", "visible");
                    $("#checkbox_div").css("visibility", "visible");
                    $("#area_text").css("visibility", "visible");
                    $("#area_select").css("visibility", "visible");
                }
            })

            if ($("#check_depo").prop("checked") == true) {
                $("#bin_text").css("visibility", "hidden");
                $("#bin_number").css("visibility", "hidden");
                $("#Available_text").css("visibility", "hidden");
                $("#Available_select").css("visibility", "hidden");
                $("#radio_div").css("visibility", "hidden");
                $("#Time_div").css("visibility", "hidden");
                $("#checkbox_div").css("visibility", "hidden");
                $("#area_text").css("visibility", "hidden");
                $("#area_select").css("visibility", "hidden");
            }

            //チェックWeekの値を初期状態で送信する================================
            var arrcheck = $("#checkbox1").closest(".row").find("input[type='checkbox']");
            var week = "";
            for (var item of arrcheck) {
                if (item.checked == true) {
                    week += "1";
                }
                else {
                    week += "0";
                }
            }
            $("#Week").val(week);
            //============================================================
            //チェックWeekの値を変更状態で送信する================================
            let string = "";
            for (let i = 1; i < 8; i++) {
                string = "#checkbox" + i;
                $(string).on('change', function () {
                    var arrcheck = $(this).closest(".row").find("input[type='checkbox']");
                    var week = "";
                    for (var item of arrcheck) {
                        if (item.checked == true) {
                            week += "1";
                        }
                        else {
                            week += "0";
                        }
                    }
                    $("#Week").val(week);
                });
            }

            ///=============================================================
            $('#NonyuToroku').on('click', function () {
                if (($("#radio1").prop("checked") == true) && ($("#check_depo").prop("checked") == false)) {
                    if (convertTime($("#appt-time1").val()) >= convertTime($("#appt-time2").val())) {
                        alert("時間指定終了が先になっています。");
                        return false;
                    }
                }

                if (!confirm('登録を保存します。よろしいですか？')) {
                    return false;
                } else {
                    $(this).submit();
                }
            });

            function convertTime(Time) {
                var Data = Time.split(":");
                let a = Data[0] * 60 + Data[1];
                return parseInt(a);
            }
        });
    </script>
}
