﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.HaisouKeikakuTsuikaModel

@{
    ViewData["Title"] = "配送計画追加画面";
    Layout = "_Layout";
}
<style>
    .underline_top, .underline_bot {
        margin-block-start: 0em;
    }

    .IntoCD_Block {
        visibility: hidden;
    }

    .TrackCD_Block {
        visibility: hidden;
    }
</style>

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>

<div class="card shadow mb-4 c-dialog">
    <div class="card-header text-gray-800">
        配送計画追加画面
    </div>
    <div class="card-body">
        <form class="col-md-12" method="post" asp-controller="HaisouKeikakuTsuika" asp-action="Add">
            <div class="valid-area">
                <span id="FailMsg" class="text-danger">@ViewData["Error"] </span>
                <span id="SuccessMsg" class="text-success">@ViewData["Message"]</span>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label class="c-label-text"> 配送日付</label>
                </div>
                <div class="col-md-3">
                    <input type="date" asp-for="@Model.Deli_Date" class="form-control" onchange="ResetHaisouInfo()" >
                    <span asp-validation-for="@Model.Deli_Date" class="text-danger"></span>
                </div>
                <div class="col-md-2">
                    <label class="c-label-text text-right">配送区分</label>
                </div>
                <div class="col-md-3">
                    <select asp-for="@Model.HaisouKubun" asp-items="@Model.Lst_HaisouKubun" class="form-control" onchange="ResetHaisouInfo()"></select>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-light btn-square" title="検索" onclick="GetHaisouKeikakuInFor()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
            <hr width="100%" align="center" color="black" class="underline_top" />
            <div id="IntoCD_Block" class="IntoCD_Block">
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Into_Cd"> 納入先コード</label>
                    </div>
                    <div class="col-md-2">
                        <select asp-for="@Model.Into_Cd" asp-items="@Model.Lst_Into_Cd" class="form-control Into_Cd" onchange="RenderDataByIntoCode()"></select>
                    </div>
                    <div class="col-md-2">
                        <label class="c-label-text text-right Bin_No">便No</label>
                    </div>
                    <div class="col-md-1">
                        <input type="number" asp-for="@Model.Bin_No" class="form-control Bin_No" min="0" onchange="RenderDataByIntoCode()">
                        <span asp-validation-for="@Model.Bin_No" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                        <button type="button" class="btn btn-light btn-square searchNo1" title="検索" onclick="GetHaisouKeikakuInForBySearch2()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Into_Name"> 納入先名</label>
                    </div>
                    <div class="col-md-9">
                        <label class="c-label-text Into_Name" id="Into_NameDis"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Into_Address"> 住所</label>
                    </div>
                    <div class="col-md-9">
                        <label class="c-label-text Into_Address" id="Into_AddressDis"></label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Avalible_car"> 可能車両</label>
                    </div>
                    <div class="col-md-3">
                        <label class="c-label-text Avalible_car" id="Avalible_carDis"></label>
                    </div>
                    <div class="col-md-3">
                        <label class="c-label-text Work_Time"> 納入先作業時間(分)</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" asp-for="@Model.Work_Time" class="form-control Work_Time">
                        <span asp-validation-for="@Model.Work_Time" class="text-danger Work_Time_valid"></span>
                    </div>
                </div>
                <div class="row Time_FLG_wrapper">
                    <div class="col-md-3 ">
                        <label class="c-label-text ">時間指定</label>
                    </div>
                    <input type="text" asp-for="@Model.Time_FLG" hidden>
                    <div class="col-md-1">
                        有<input class="form-check-input" type="radio" name="Time_FLG" id="timeRadio1">
                    </div>
                    <div class="col-md-1">
                        無<input class="form-check-input" type="radio" name="Time_FLG" checked id="timeRadio2">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Assign_Start_Time">時間指定開始</label>
                    </div>
                    <div class="col-md-2">
                        <input type="time" asp-for="@Model.Assign_Start_Time" class="form-control Assign_Start_Time">
                        <span asp-validation-for="@Model.Assign_Start_Time" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-3">
                        <label class="c-label-text Assign_End_Time"> 時間指定終了</label>
                    </div>
                    <div class="col-md-2">
                        <input type="time" asp-for="@Model.Assign_End_Time" class="form-control Assign_End_Time">
                        <span asp-validation-for="@Model.Assign_End_Time" class="text-danger"></span>
                    </div>
                </div>
                <hr width="100%" align="center" color="black" class="underline_bot" />
            </div>
            <div id="TrackCD_Block" class="TrackCD_Block">
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Track_Cd">トラックコード</label>
                    </div>
                    <div class="col-md-2">
                        <select asp-for="@Model.Track_Cd" asp-items="@Model.Lst_Track_Cd" class="form-control Track_Cd"></select>
                        <span asp-validation-for="@Model.Track_Cd" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Instruction_No">指示No</label>
                    </div>
                    <div class="col-md-5">
                        <input type="text" asp-for="@Model.Instruction_No" class="form-control Instruction_No">
                        <span asp-validation-for="@Model.Instruction_No" class="text-danger Instruction_No_valid"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Leave_Time">出発時間</label>
                    </div>
                    <div class="col-md-2">
                        <input type="time" asp-for="@Model.Leave_Time" class="form-control Leave_Time">
                        <span asp-validation-for="@Model.Leave_Time" class="text-danger"></span>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label class="c-label-text Arrive_No"> 到着順</label>
                    </div>
                    <div class="col-md-2">
                        <input type="number" asp-for="@Model.Arrive_No" class="form-control Arrive_No">
                        <span asp-validation-for="@Model.Arrive_No" class="text-danger Arrive_No_valid"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Toll_Road_wr">有料道路使用</label>
                    </div>
                    <input type="text" asp-for="@Model.Toll_Road" hidden>
                    <div class="col-md-1 Toll_Road_wr">
                        有<input class="form-check-input" type="radio" name="Toll_RoadR" id="tollRadio1">
                    </div>
                    <div class="col-md-1 Toll_Road_wr">
                        無<input class="form-check-input" type="radio" name="Toll_RoadR" checked id="tollRadio2">
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2">
                        <label class="c-label-text Shitsuryo"> 質量(kg)</label>
                    </div>
                    <div class="col-md-3">
                        <input type="text" asp-for="@Model.Shitsuryo" class="form-control Shitsuryo">
                        <span asp-validation-for="@Model.Shitsuryo" class="text-danger Shitsuryo_valid"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3">
                        <label class="c-label-text Remark">備考</label>
                    </div>
                    <div class="col-md-5">
                        <textarea value="コメント" cols="30" rows="1" class="form-control Remark" asp-for="@Model.Remark"></textarea>
                        <span asp-validation-for="Remark" class="text-danger"></span>
                    </div>
                </div>
                <div class="c-dialog-area Add_Btn" style="padding-left:0px">
                    <button type="submit" id="HaisouKeikakuTsuika" name="HaisouKeikakuTsuika"
                            @*data-toggle="modal" data-target="#HaisouTsuikaModal"*@
                            value="保存" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">保存</span>
                    </button>
                </div>
                <input type="text" asp-for="@Model.Arrive_Time" hidden value="---">
                <input type="text" asp-for="@Model.Avaliable_Weight" hidden value="0">
                <input type="text" asp-for="@Model.Deli_No" hidden>
                <input type="text" asp-for="@Model.Area_Name" hidden value="手入力">
                <input type="text" asp-for="@Model.Take_Weight" hidden>
                <input type="text" asp-for="@Model.Deli_Type_No" hidden>
                <input type="text" asp-for="@Model.Into_Name" hidden>
                <input type="text" asp-for="@Model.Into_Address" hidden>
                <input type="text" asp-for="@Model.Avalible_car" hidden>
                <input type="text" asp-for="@Model.Previous_Flag" hidden value="0">
                <input type="text" asp-for="@Model.Take_Plan_Weight" hidden value="0">
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript">
        // フォームのデータを取得
        function ConcatParamOfForm(params) {
            let result = '';
            if (params) {
                for (const [key, value] of Object.entries(params)) {
                    if (result !== '') {
                        result += '&';
                    }
                    result += key + '=' + value;
                }
            }
            return result;
        }
        // フォームのエラーメッセージが表示
        function ShowErrorMessageForm(message) {            
            let item = document.getElementById('FailMsg');
            if (item && message) {
                item.innerHTML = message;
            }
            $('.container-fluid').scrollTop(0);
        }
        // フォームのサクセスメッセージが表示
        function ShowSuccessMessageForm(message) {
            let item = document.getElementById('SuccessMsg');
            if (item && message) {
                item.innerHTML = message;
            }
        }
        // フォームのエラーメッセージがクリア
        function ClearErrorMessageForm() {
            let item1 = document.getElementById('FailMsg');
            let item2 = document.getElementById('SuccessMsg');
            if (item1 && item2) {
                item1.innerHTML = '';
                item2.innerHTML = '';
            }
        }
        // 検索ボタン(上)押下 (配送区分によって)
        function GetHaisouKeikakuInFor() {
            ClearErrorMessageForm();
            $(".Work_Time_valid").html("");
            $(".Arrive_No_valid").html("");
            $(".Shitsuryo_valid").html("");
            $(".Instruction_No_valid").html("");
            // 選択している配送区分を取得
            const haisouKubun = document.getElementById('HaisouKubun').value;
            const haisouDay = document.getElementById('Deli_Date').value;
            let params = {};
            params["Deli_Date"] = haisouDay;
            params["HaisouKubun"] = haisouKubun;
            let data = ConcatParamOfForm(params);
            // サーバーのデータを取得
            $.ajax({
                type: 'POST',
                url: '/HaisouKeikakuTsuika/GetHaisouKeikakuInFor',
                data: data,
                async: true,
                cache: false,
                processData: false,
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (res) {
                    if (res.status) {
                        let data = JSON.parse(res.data);
                        IntoCodeRender(data);
                    } else {
                        ShowErrorMessageForm(res.message);
                    }
                },
                error: function (res) {
                    ShowErrorMessageForm(res.message);
                }
            });
        }
        // Render Into_code block by HaisouKubun
        function IntoCodeRender(data) {
            if (data != null && data.ErrorMessage == null) {
                $("#IntoCD_Block").css("visibility", "visible");
                $("#TrackCD_Block").css("visibility", "visible");
                const haisouKubun = document.getElementById('HaisouKubun').value;
                if (haisouKubun == "デポ") {
                    // display layout
                    $(".Into_Cd").css("visibility", "visible");
                    $(".Bin_No").css("visibility", "visible");
                    $(".Into_Cd").prop("disabled", "disabled");
                    $(".Bin_No").prop("disabled", "disabled");
                    $(".searchNo1").css("visibility", "hidden");
                    $(".Into_Name").css("visibility", "visible");
                    $(".Into_Address").css("visibility", "visible");
                    $(".Avalible_car").css("visibility", "hidden");
                    $(".Work_Time").css("visibility", "visible");
                    $(".Time_FLG_wrapper").css("visibility", "hidden");
                    $(".Assign_Start_Time").css("visibility", "hidden");
                    $(".Assign_End_Time").css("visibility", "hidden");
                    $(".underline_bot").css("visibility", "visible");
                    $(".Track_Cd").css("visibility", "visible");
                    $(".Instruction_No").css("visibility", "hidden");
                    $(".Leave_Time").css("visibility", "visible");
                    $(".Arrive_No").css("visibility", "visible");
                    $(".Toll_Road_wr").css("visibility", "visible");
                    $(".Shitsuryo").css("visibility", "hidden");
                    $(".Remark").css("visibility", "visible");
                    $(".Add_Btn").css("visibility", "visible");

                    // display data
                    $("#Bin_No").val(data.Bin_No);
                    $("#Into_Name").val(data.Into_Name);
                    $("#Into_Address").val(data.Into_Address);
                    $("#Into_NameDis").html(data.Into_Name);
                    $("#Into_AddressDis").html(data.Into_Address);
                    $("#Work_Time").val(data.Work_Time);
                    $("#Leave_Time").val(ConvertFormatTime(data.Leave_Time));
                    $("#Arrive_No").val('1');
                    $("#Remark").val('');
                    // render Into_code select
                    IntoCode_Select_Render(data.Lst_Into_Cd);
                    // render Track_code select
                    TrackCode_Select_Render(data.Lst_Track_Cd);
                    //有料道路使用に無を表示
                    $(".iradio_flat-red").removeClass("checked");
                    $("#tollRadio2").prop("checked", true);
                    $($("#tollRadio2").closest(".iradio_flat-red")[0]).addClass("checked");

                    //非表示データ
                    $("#Avalible_car").val("---");
                    $("#Instruction_No").val("---");
                    $("#Shitsuryo").val("0");
                    $("#Take_Weight").val("0");
                    $("#Assign_Start_Time").val(null);
                    $("#Assign_End_Time").val(null);
                    $("#Deli_No").val("0");
                    $("#Deli_Type_No").val(data.Deli_Type_No);
                } else if (haisouKubun == "休憩") {
                    // display layout
                    $(".Into_Cd").css("visibility", "hidden");
                    $(".Bin_No").css("visibility", "hidden");
                    $(".searchNo1").css("visibility", "hidden");
                    $(".Into_Name").css("visibility", "hidden");
                    $(".Into_Address").css("visibility", "hidden");
                    $(".Avalible_car").css("visibility", "hidden");
                    $(".Work_Time").css("visibility", "hidden");
                    $(".Time_FLG_wrapper").css("visibility", "hidden");
                    $(".Assign_Start_Time").css("visibility", "hidden");
                    $(".Assign_End_Time").css("visibility", "hidden");
                    $(".underline_bot").css("visibility", "hidden");
                    $(".Track_Cd").css("visibility", "visible");
                    $(".Instruction_No").css("visibility", "hidden");
                    $(".Leave_Time").css("visibility", "hidden");
                    $(".Arrive_No").css("visibility", "visible");
                    $(".Toll_Road_wr").css("visibility", "hidden");
                    $(".Shitsuryo").css("visibility", "hidden");
                    $(".Remark").css("visibility", "visible");
                    $(".Add_Btn").css("visibility", "visible");

                    //表示データ
                    // render Track_code select
                    TrackCode_Select_Render(data.Lst_Track_Cd);
                    $("#Arrive_No").val('1');
                    $("#Remark").val("");

                    //非表示データ
                    $("#Into_Name").val("");
                    $("#Into_Address").val("");
                    $("#Avalible_car").val("");
                    $("#Work_Time").val("0");
                    $("#Assign_Start_Time").val(null);
                    $("#Assign_End_Time").val(null);
                    $("#Instruction_No").val("---");
                    $("#Leave_Time").val("");
                    $("#Shitsuryo").val("0");
                    $("#Take_Weight").val("0");
                    $("#Toll_Road").val('0');
                    $("#Deli_No").val("0");
                    $("#Deli_Type_No").val(data.Deli_Type_No);
                } else {
                    // display layout
                    $(".Into_Cd").css("visibility", "visible");
                    $(".Bin_No").css("visibility", "visible");
                    $(".Into_Cd").prop("disabled", false);
                    $(".Bin_No").prop("disabled", false);
                    $(".searchNo1").css("visibility", "visible");
                    $(".Into_Name").css("visibility", "visible");
                    $(".Into_Address").css("visibility", "visible");
                    $(".Avalible_car").css("visibility", "visible");
                    $(".Work_Time").css("visibility", "visible");
                    $(".Time_FLG_wrapper").css("visibility", "visible");
                    $(".Assign_Start_Time").css("visibility", "visible");
                    $(".Assign_End_Time").css("visibility", "visible");
                    $(".underline_bot").css("visibility", "visible");
                    $(".Track_Cd").css("visibility", "hidden");
                    $(".Instruction_No").css("visibility", "hidden");
                    $(".Leave_Time").css("visibility", "hidden");
                    $(".Arrive_No").css("visibility", "hidden");
                    $(".Toll_Road_wr").css("visibility", "hidden");
                    $(".Shitsuryo").css("visibility", "hidden");
                    $(".Remark").css("visibility", "hidden");
                    $(".Add_Btn").css("visibility", "hidden");

                    //表示データ
                    IntoCode_Select_Render(data.Lst_Into_Cd);
                    $("#Bin_No").val('1');
                    $("#Work_Time").val('0');
                    $("#Into_NameDis").html("");
                    $("#Into_Name").val("");
                    $("#Into_Address").val("");
                    $("#Into_AddressDis").html("");
                    $("#Avalible_carDis").html("");
                    $("#Avalible_car").val("");
                    $("#Assign_Start_Time").val(null);
                    $("#Assign_End_Time").val(null);
                    $("#Remark").val("");
                    //時間指定に無を表示
                    $(".iradio_flat-red").removeClass("checked");
                    $("#timeRadio2").prop("checked", true);
                    $($("#timeRadio2").closest(".iradio_flat-red")[0]).addClass("checked");
                    $("#Assign_Start_Time").prop('readonly', true);
                    $("#Assign_End_Time").prop('readonly', true);
                    //非表示データ
                }
            } else {
                $(".Into_Cd").css("visibility", "hidden");
                $(".Bin_No").css("visibility", "hidden");
                $(".searchNo1").css("visibility", "hidden");
                $(".Into_Name").css("visibility", "hidden");
                $(".Into_Address").css("visibility", "hidden");
                $(".Avalible_car").css("visibility", "hidden");
                $(".Work_Time").css("visibility", "hidden");
                $(".Time_FLG_wrapper").css("visibility", "hidden");
                $(".Assign_Start_Time").css("visibility", "hidden");
                $(".Assign_End_Time").css("visibility", "hidden");
                $(".underline_bot").css("visibility", "hidden");
                $(".Track_Cd").css("visibility", "hidden");
                $(".Instruction_No").css("visibility", "hidden");
                $(".Leave_Time").css("visibility", "hidden");
                $(".Arrive_No").css("visibility", "hidden");
                $(".Toll_Road_wr").css("visibility", "hidden");
                $(".Shitsuryo").css("visibility", "hidden");
                $(".Remark").css("visibility", "hidden");
                $(".Add_Btn").css("visibility", "hidden");
                ShowErrorMessageForm(data.ErrorMessage);
            }

        }
        $(function () {
            $("#tollRadio2").on('change', function () {
                if ($("#tollRadio2").prop("checked") == true) {
                    $("#Toll_Road").val('0');
                }
                else {
                    $("#Toll_Road").val('1');
                }
            })
            $("#timeRadio2").on('change', function () {
                if ($("#timeRadio2").prop("checked") == true) {
                    $("#Time_FLG").val('0');
                    $("#Assign_Start_Time").prop('readonly', true);
                    $("#Assign_End_Time").prop('readonly', true);
                }
                else {
                    $("#Time_FLG").val('1');
                    $("#Assign_Start_Time").prop('readonly', false);
                    $("#Assign_End_Time").prop('readonly', false);
                }
            })
        });
        //検索ボタン(下)押下 (配送区分によって)
        function GetHaisouKeikakuInForBySearch2() {
            ClearErrorMessageForm();
            // 選択している配送区分を取得
            const haisouKubun = document.getElementById('HaisouKubun').value;
            const haisouDay = document.getElementById('Deli_Date').value;
            const binNo = document.getElementById('Bin_No').value;
            const into_Cd = document.getElementById('Into_Cd').value;
            let params = {};
            params["Deli_Date"] = haisouDay;
            params["HaisouKubun"] = haisouKubun;
            params["Into_Cd"] = into_Cd;
            params["Bin_No"] = binNo;
            let data = ConcatParamOfForm(params);
            // サーバーのデータを取得
            $.ajax({
                type: 'POST',
                url: '/HaisouKeikakuTsuika/GetHaisouKeikakuInForBySearch2',
                data: data,
                async: true,
                cache: false,
                processData: false,
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (res) {
                    if (res.status) {
                        let data = JSON.parse(res.data);
                        TrackCodeRenderBySearch2(data);
                    } else {
                        ShowErrorMessageForm(res.message);
                    }
                },
                error: function (res) {
                    ShowErrorMessageForm(res.message);
                }
            });
        }
        // Render Track block by IntoCode, BinNo, HaisoukuDay
        function TrackCodeRenderBySearch2(data) {
            if (data != null && data.ErrorMessage == null) {
                // display layout
                $(".Track_Cd").css("visibility", "visible");
                $(".Instruction_No").css("visibility", "visible");
                $(".Leave_Time").css("visibility", "hidden");
                $(".Arrive_No").css("visibility", "visible");
                $(".Toll_Road_wr").css("visibility", "visible");
                $(".Shitsuryo").css("visibility", "visible");
                $(".Remark").css("visibility", "visible");
                $(".Add_Btn").css("visibility", "visible");

                //表示データ
                TrackCode_Select_Render(data.Lst_Track_Cd);
                $("#Into_NameDis").html(data.Into_Name);
                $("#Into_Name").val(data.Into_Name);
                $("#Into_AddressDis").html(data.Into_Address);
                $("#Into_Address").val(data.Into_Address);
                $("#Avalible_carDis").html(data.Avalible_car);
                $("#Avalible_car").val(data.Avalible_car);
                $("#Work_Time").val(data.Work_Time);
                $("#Instruction_No").val("");
                $("#Toll_Road").val('0');
                $("#Shitsuryo").val("0");
                $("#Take_Weight").val("0");
                $("#Deli_Type_No").val(data.Deli_Type_No);
                $("#Arrive_No").val('1');
                $("#Remark").val("");
                $("#Deli_No").val(data.Deli_No);
                //有料道路使用に無を表示
                $(".iradio_flat-red").removeClass("checked");
                $("#tollRadio2").prop("checked", true);
                $($("#tollRadio2").closest(".iradio_flat-red")[0]).addClass("checked");

                if (data.Time_FLG == 1) {
                    $("#Time_FLG").val('1');
                    $("#Assign_Start_Time").prop('readonly', false);
                    $("#Assign_End_Time").prop('readonly', false);
                    $("#timeRadio1").prop("checked", true);
                    $($("#timeRadio1").closest(".iradio_flat-red")[0]).addClass("checked");
                    $("#Assign_Start_Time").val(data.Assign_Start_Time);
                    $("#Assign_End_Time").val(data.Assign_End_Time);
                }
                else {
                    $("#Time_FLG").val('0');
                    $("#Assign_Start_Time").prop('readonly', true);
                    $("#Assign_End_Time").prop('readonly', true);
                    $("#timeRadio2").prop("checked", true);
                    $($("#timeRadio2").closest(".iradio_flat-red")[0]).addClass("checked");
                    $("#Assign_Start_Time").val(null);
                    $("#Assign_End_Time").val(null);
                }
                $("#timeRadio2").on('change', function () {
                    if ($("#timeRadio2").prop("checked") == true) {
                        $("#Time_FLG").val('0');
                        $("#Assign_Start_Time").val(null);
                        $("#Assign_End_Time").val(null);
                    }
                    else {
                        $("#Time_FLG").val('1');
                        $("#Assign_Start_Time").val(data.Assign_Start_Time);
                        $("#Assign_End_Time").val(data.Assign_End_Time);
                    }
                })

                //非表示データ
                $("#Leave_Time").val("");
            } else {
                ShowErrorMessageForm(data.ErrorMessage);
                // display layout
                $(".Track_Cd").css("visibility", "hidden");
                $(".Instruction_No").css("visibility", "hidden");
                $(".Leave_Time").css("visibility", "hidden");
                $(".Arrive_No").css("visibility", "hidden");
                $(".Toll_Road_wr").css("visibility", "hidden");
                $(".Shitsuryo").css("visibility", "hidden");
                $(".Remark").css("visibility", "hidden");
                $(".Add_Btn").css("visibility", "hidden");

                //表示データ
                $("#Work_Time").val('0');
                $("#Into_NameDis").html("");
                $("#Into_Name").val("");
                $("#Into_Address").val("");
                $("#Into_AddressDis").html("");
                $("#Avalible_carDis").html("");
                $("#Avalible_car").val("");
                $("#Assign_Start_Time").val(null);
                $("#Assign_End_Time").val(null);
                //時間指定に無を表示
                $(".iradio_flat-red").removeClass("checked");
                $("#timeRadio2").prop("checked", true);
                $($("#timeRadio2").closest(".iradio_flat-red")[0]).addClass("checked");
                $("#Assign_Start_Time").prop('readonly', true);
                $("#Assign_End_Time").prop('readonly', true);
            }
        }


        function IntoCode_Select_Render(data) {
            let html = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    // Into Code 選択の描画
                    html += '<option value="' + data[i].Text + '">' + data[i].Text + '</option>';
                }
            }
            document.getElementById('Into_Cd').innerHTML = html;
        }
        function TrackCode_Select_Render(data) {
            let html = '';
            if (data && data.length > 0) {
                for (let i = 0; i < data.length; i++) {
                    // Track Code 選択の描画
                    html += '<option value="' + data[i].Text + '">' + data[i].Text + '</option>';
                }
            }
            document.getElementById('Track_Cd').innerHTML = html;
        }
        // Reset 配送計画 when change IntoCode or BinNo
        function RenderDataByIntoCode() {
            ClearErrorMessageForm();
            const into_Cd = document.getElementById('Into_Cd').value;
            if (into_Cd) {
                // display layout
                $(".Into_Cd").css("visibility", "visible");
                $(".Bin_No").css("visibility", "visible");
                $(".Into_Cd").prop("disabled", false);
                $(".Bin_No").prop("disabled", false);
                $(".searchNo1").css("visibility", "visible");
                $(".Into_Name").css("visibility", "visible");
                $(".Into_Address").css("visibility", "visible");
                $(".Avalible_car").css("visibility", "visible");
                $(".Work_Time").css("visibility", "visible");
                $(".Time_FLG_wrapper").css("visibility", "visible");
                $(".Assign_Start_Time").css("visibility", "visible");
                $(".Assign_End_Time").css("visibility", "visible");
                $(".underline_bot").css("visibility", "visible");
                $(".Track_Cd").css("visibility", "hidden");
                $(".Instruction_No").css("visibility", "hidden");
                $(".Leave_Time").css("visibility", "hidden");
                $(".Arrive_No").css("visibility", "hidden");
                $(".Toll_Road_wr").css("visibility", "hidden");
                $(".Shitsuryo").css("visibility", "hidden");
                $(".Remark").css("visibility", "hidden");
                $(".Add_Btn").css("visibility", "hidden");

                //表示データ
                $("#Work_Time").val('0');
                $("#Into_NameDis").html("");
                $("#Into_Name").val("");
                $("#Into_Address").val("");
                $("#Into_AddressDis").html("");
                $("#Avalible_carDis").html("");
                $("#Avalible_car").val("");
                $("#Assign_Start_Time").val(null);
                $("#Assign_End_Time").val(null);
                $("#Remark").html("");
                //時間指定に無を表示
                $(".iradio_flat-red").removeClass("checked");
                $("#timeRadio2").prop("checked", true);
                $($("#timeRadio2").closest(".iradio_flat-red")[0]).addClass("checked");
                $("#Assign_Start_Time").prop('readonly', true);
                $("#Assign_End_Time").prop('readonly', true);
                $("#timeRadio2").on('change', function () {
                    if ($("#timeRadio2").prop("checked") == true) {
                        $("#Time_FLG").val('0');
                        $("#Assign_Start_Time").val(null);
                        $("#Assign_End_Time").val(null);
                    }
                    else {
                        $("#Time_FLG").val('1');
                        $("#Assign_Start_Time").val(null);
                        $("#Assign_End_Time").val(null);
                    }
                })
            }
        }

        // reset 配送計画 when change 日付 or 配送区分
        function ResetHaisouInfo() {
            ClearErrorMessageForm();
            // display layout
            $(".Into_Cd").css("visibility", "hidden");
            $(".Bin_No").css("visibility", "hidden");
            $(".searchNo1").css("visibility", "hidden");
            $(".Into_Name").css("visibility", "hidden");
            $(".Into_Address").css("visibility", "hidden");
            $(".Avalible_car").css("visibility", "hidden");
            $(".Work_Time").css("visibility", "hidden");
            $(".Time_FLG_wrapper").css("visibility", "hidden");
            $(".Assign_Start_Time").css("visibility", "hidden");
            $(".Assign_End_Time").css("visibility", "hidden");
            $(".underline_bot").css("visibility", "hidden");
            $(".Track_Cd").css("visibility", "hidden");
            $(".Instruction_No").css("visibility", "hidden");
            $(".Leave_Time").css("visibility", "hidden");
            $(".Arrive_No").css("visibility", "hidden");
            $(".Toll_Road_wr").css("visibility", "hidden");
            $(".Shitsuryo").css("visibility", "hidden");
            $(".Remark").css("visibility", "hidden");
            $(".Add_Btn").css("visibility", "hidden");
        }

        //=============================================================
        $('#HaisouKeikakuTsuika').on('click', function () {
            ClearErrorMessageForm();
            if (($("#timeRadio1").prop("checked") == true)) {
                if ($("#Assign_Start_Time").val() == '' || $("#Assign_End_Time").val() == '') {
                    ShowErrorMessageForm("時間指定開始、時間指定終了をご確認ください。");
                    return false;
                }
                if (convertTime($("#Assign_Start_Time").val()) >= convertTime($("#Assign_End_Time").val())) {
                    ShowErrorMessageForm("時間指定終了が先になっています。");
                    return false;
                }
            }
            if (!confirm('登録を保存します。よろしいですか？')) {
                return false;
            } else {
                $(this).submit();
            }
        });

        function convertTime(Time) {
            var Data = Time.split(":");
            let a = Data[0] * 60 + Data[1];
            return parseInt(a);
        }

        // convert format time to hh:MM
        function ConvertFormatTime(Time) {
            if (Time) {
                var data = Time.split(":");
                let hour = data[0];
                let minute = data[1];
                if (hour.length == 1) {
                    hour = "0" + hour;
                }
                if (minute.length == 1) {
                    minute = "0" + minute;
                }
                return hour + ':' + minute;
            } else {
                return "--:--";
            }

        }
        //function ShowConfirmDialog() {
        //    $('body').append(
        //        '<div class="modal fade" id="HaisouTsuikaModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">' +
        //        '    <div class="modal-dialog modal-dialog-centered" role="document">' +
        //        '        <div class="modal-content">' +
        //        '            <div class="modal-header">' +
        //        '                <h5 class="modal-title" id="exampleModalCenterTitle">配送計画追加</h5>' +
        //        '                <button type="button" class="close" data-dismiss="modal" aria-label="Close">' +
        //        '                    <span aria-hidden="true">&times;</span>' +
        //        '                </button>' +
        //        '            </div>' +
        //        '            <div class="modal-body">' +
        //        '                <p>保存します。よろしいですか？</p > ' +
        //        '            </div>' +
        //        '            <div class="modal-footer">' +
        //        '                <button type="button" class="btn btn-secondary" data-dismiss="modal">クローズ</button>' +
        //        '                <button type="button" class="btn btn-primary">保存</button>' +
        //        '            </div>' +
        //        '        </div>' +
        //        '    </div>' +
        //        '</div>'
        //    );
        //    $('#HaisouTsuikaModal .btn-secondary').click(function () {
        //        return true;
        //    });

        //    $('#HaisouTsuikaModal .btn-primary').click(function () {
        //        $('#HaisouTsuikaModal').modal('hide');
        //        return false;
        //    });
        //}
    </script>
}


