﻿:root {
    --imagecolor1: rgba(148,86,165,1);
    --imagecolor2: rgba(148,86,165,0.7);
    --imagecolor3: rgba(148,86,165,0.3);
    --imagecolor3: rgba(148,86,165,0.1);
}

#main-icon {
    max-width: 50px;
    max-height: auto;
    background: #ffffff;
    border-radius: 10px;
    object-fit: cover;
    border: solid #ffffff;
}

.topbar {
    height: 3.8rem;
}

.sidebar {
    position: fixed !important;
    z-index: 100;
    padding-top: 4rem!important;
}

.navbar{
    z-index:9999!important;
    position:fixed!important;
}

.container-fluid {
    padding-top: 6rem;
    padding-left: 15rem;
    position: fixed !important;
    z-index: 0;
    overflow: scroll;
    height: 100vh; /* これを追加 */
}

footer {
    text-align: center;
    background-color: #fff;
    width: 100%;
    z-index: 0 !important;
    position: fixed !important; /*←絶対位置*/
    bottom: 0 !important; /*下に固定*/
}

.modal {
    z-index: 9999999!important;
}

#user-detail-dropdown-item:hover, #user-detail-dropdown-item:focus {
    background-color: #fff!important;
}

#user-detail-dropdown-item.active, #user-detail-dropdown-item:active {
    color: #858796 !important;
    background-color: #fff !important;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #858796;
}

.message-area {
    background-color: #ff9;
    text-shadow: 1px 1px 2px #fff;
    margin-bottom: 0.5rem;
}

.valid-area {
    margin-bottom: 0.5rem;
}

@media (max-width: 768px) {
    .sidebar {
        z-index: 0;
    }

    .container-fluid {
        padding-top: 5.2rem;
        padding-left: 1rem;
    }

    #fadeLayer {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        visibility: hidden;
        opacity: 0.75;
        z-index: 1;
    }

        #fadeLayer.fadeon {
            visibility: visible !important;
        }

    #fadeLayer_container {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: black;
        visibility: hidden;
        opacity: 0.75;
        z-index: 1;
    }

        #fadeLayer_container.fadeon {
            visibility: visible !important;
        }

}

@media (max-height: 768px) {
    .sidebar .nav-item .collapse {
        top: -100%!important;
    }
    .sidebar .nav-item .collapse .collapse-inner, .sidebar .nav-item .collapsing .collapse-inner {
        font-size: 80% !important;
    }
}

/*スマホサイズのとき、文字の大きさ等小さくする*/
@media (max-width: 576px) {
    body {
        font-size: 90% !important;
    }

    .form-control {
        font-size: 90% !important;
        height: calc(1.5em + 0.75rem);
    }
    .sidebar {
        position: fixed !important;
        z-index: 0;
        padding-top:3.5rem!important;
    }
    .sidebar .nav-item .collapse {
        top: -150% !important;
    }
    .topbar {
        height: 3rem;
    }
    .container-fluid {
        padding-top: 3.6rem;
        padding-left: 1rem;
    }

    h4, .h4 {
        font-size: 1.2rem;
    }

    .btn {
        font-size: 90% !important;
    }

    .button-area {
        padding-left: 0.2rem !important;
        padding-right: 0.2rem !important;
        padding-top: 0.4rem !important;
        padding-bottom: 0.4rem !important;
    }

    footer.sticky-footer .copyright {
        line-height: 0 !important;
        font-size: 90% !important;
    }
    footer.sticky-footer {
        padding: 1rem !important;
        flex-shrink: 0;
    }
/*    .card-header {
        padding: 0.30rem 0.8rem
    }*/
    .card-body {
        padding: 0.90rem 0.8rem
    }
    .btn-circle {
        height: 1.8rem;
        width: 1.8rem;
    }
    .btn-square {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
    }
}

.form-group {
    margin-bottom: 1rem!important;
}

.bg-gradient-imagecolor {
    background-color: var(--imagecolor1);
    background-size: cover;
}

.sidebar .nav-item .collapse .collapse-inner .collapse-item.active, .sidebar .nav-item .collapsing .collapse-inner .collapse-item.active {
    color: #3a3b45 !important;
    /* font-weight: 700; */
}

body, .form-control {
    color: #3a3b45;
}

/*table th, table td, table input[type=text], table select {
    font-size: 90% !important;
}
*/

table, table th {
    color: #3a3b45 !important;
    font-weight: 400 !important;
}

table th{
    text-align: center;
    white-space: nowrap;
}

.table-bordered {
    border: none;
}

.c-dialog {
    max-width: 800px!important;
}

.c-dialog-area {
    padding: 1.5rem;
    border: none;
}

.c-label-text {
    border: 1px solid #fff !important;
    width: 100%;
    padding-top: 0.375rem;
    padding-right: 0.75rem;
    padding-bottom: 0.375rem;
    padding-left: 0rem;
}

.row {
    padding: 0.2rem;
}

.btn-header {
    position: relative;
    padding-top: 0.5rem;
    padding-bottom: 3rem;
}

.btn-headerLeft {
    position: absolute;
    left: 0;
}

.btn-headerRight {
    position: absolute;
    right: 0;
}

.required-mark:after {
    content: "*";
    color: red;
    font-weight: bold;
}

input[type="text"][disabled], select[disabled] {
    border: 1px solid #eaecf4 !important;
    color: #858796 !important;
}

input[type="text"][disabled], select[disabled], input[type="text"][readonly], select[readonly] {
    border: 1px solid #eaecf4 !important;
}