﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.PlanModel
@{
    ViewData["Title"] = "配送計画自動作成画面";
    Layout = "_Layout";
}

<SignalR.EMPLOYEE>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>  

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>
<div class="card shadow mb-4">

    <div class="card-body">
        <div>作成速度</div><div id="outputSlider"></div>
        <input id="slider1" type="range" value="8" min="1" max="10" />

        <div class="row">
            <div class="col-md-12 d-flex flex-row bd-highlight">
                <button type="button" class="btn btn-light btn-circle" onclick="location.href='@Url.Action("Create", "Plan", new { strSeqId = Model.SEQID } )'; return false;" title="立案" id="btnPlan">
                    <i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" id="lblStatus">
            </div>
        </div>
        <div id="lblProgress"></div>
    </div>
</div>

<!--親jsファイル呼び出し-->
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
        $(function () {

            $("#btnPlan").on("click", function (e) {
                var state = document.getElementById("lblProgress");
                state.innerHTML = "作成開始...";

            });
            $("#btnPlan").on("click", function (e) {
                var sendJson = { SEQID: String(@Model.SEQID) };
                console.log("開始しました！sendJson:" + sendJson);
                var intervalId  = setInterval(function () {
                    $.ajax({

                        type: "POST",
                        url: "../plan/GetProgress",
                        data: JSON.stringify(sendJson),
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        async: false,
                        success: function (result) {
                            var retJson = JSON.parse(result);

                            if ("OK" == retJson[0].STATUS) {
                                updateProgress(retJson[2].PROGRESS, 100);
                            }
                            else
                            {
                                clearInterval(intervalId);
                                $("#lblProgress").text(retJson[1].MESSAGE);
                                return false;
                            }
                        },
                        error: function (errormessage) {
                            clearInterval(intervalId);
                            $("#lblProgress").text(errormessage.responseText);
                            return false;
                        }
                    });
                    var state = document.getElementById("lblProgress");
                    //console.log("result" + state.innerHTML);
                    if ("完了"==state.innerHTML) {
                        clearInterval(intervalId);
                        console.log("停止しました！");
                    }
                }, 5000);

                function updateProgress(count, max) {
                    var state = document.getElementById("lblProgress");
                    if (count <= max) {
                        count1 = parseInt(count / (max / 100));
                        $('#lblProgress').text('進捗' + count1 + '% 完了');
                        var lblStatus = document.getElementById("lblStatus");
                        lblStatus.style.width = count1 + "%";
                        $("#lblStatus").text(count1 + '% Complete');
                    }
                    if (count >= max) {
                        $('#lblProgress').text('完了');
                    }
                }
            });

            $(window).onload =(function () {
                var slider = document.getElementById("slider1");
                slider.addEventListener('scroll', () => {
                    var slider = document.getElementById("slider1");
                    var out_frame = document.getElementById("outputSlider");
                    out_frame.innerText = slider.value;
                });
            });
        });
</script>
}