﻿@using X.PagedList
@using X.PagedList.Mvc.Core
@model RouteOptiWeb.Models.PlanModel
@{
    ViewData["Title"] = "配送計画自動作成結果表示画面";
    Layout = "_Layout";
}

<div class="h4 mb-3 text-gray-800">
    @ViewData["Title"]
</div>
<div class="card shadow mb-4">

    <div class="card-body">
        <div>自動作成成功</div>
        <div>割付済件数○○件</div>
        <div>未割付件数○○件</div>
        <a href="~/html/map.html" class="btn btn-secondary" target="_blank">配送経路地図表示</a>
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("DspList", "Plan" )'; return false;" title="新規作成" id="btnPlan">配送計画一覧表示</button>
        <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Plan" )'; return false;" title="新規作成" id="btnPlan">戻る</button>
    </div>
</div>